{% extends "layout.html" %}

{% block title %}
    BOARD OF DIRECTORS
{% endblock %}

{% block main %}
<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active">
                    <div class="row">
  
<!-- img 1 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/vannak-theng.png" alt="vannak">
                              <div class="card-body">
                                <h5 class="card-title">Vannakk Theng</h5>
                                <h5 class="card-title">President</h5>
                                <p class="card-text">ELL Teacher 
                                  <br>Lowell Public School
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 2 -->
                          <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/tha-chhan.png" alt="tha">
                              <div class="card-body">
                                <h5 class="card-title">Tha Chhan</h5>
                                <h5 class="card-title">Vice President</h5>
                                <p class="card-text">Executive Director
                                  <br>Lowell Housing Authority
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 3 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/christopher-dias.png" alt="chris">
                              <div class="card-body">
                                <h5 class="card-title">Christopher Dias</h5>
                                <h5 class="card-title">Treasurer</h5>
                                <p class="card-text">Cash Management & Product Solutions Advisor, VP
                                  <br>Enterprise Bank
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 4 -->
                          <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/bopha-boutselis.png" alt="bopha">
                              <div class="card-body">
                                <h5 class="card-title">Bopha Boutselis</h5>
                                <h5 class="card-title">Secretary</h5>
                                <p class="card-text">Mathematics Teacher (FA) 
                                  <br>Lowell Public School
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 5 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/am-ngeth.png" alt="am">
                              <div class="card-body">
                                <h5 class="card-title">Am Ngeth</h5>
                                <h5 class="card-title">Director</h5>
                                <p class="card-text">Khmer Advocate and Prevention Specialist   
                                  <br>Center of Hope and Healing
                                </p>                                
                              </div>
                            </div>
                        </div>
  
<!-- img 6 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/ani-vong.png" alt="ani">
                              <div class="card-body">
                                <h5 class="card-title">Ani Vong</h5>
                                <h5 class="card-title">Director</h5>
                                <p class="card-text">Humanity Style 
                                  <br>Entrepreneurship Center – CTI
                                </p>                                
                              </div>
                            </div>
                        </div>
<!--                       img 7 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/barbara-dunsford.png" alt="barbara">
                              <div class="card-body">
                                <h5 class="card-title">Barbara Dunsford</h5>
                                <h5 class="card-title">Director</h5>
                                <p class="card-text">Nonprofit Consultant
                                </p>                                
                              </div>
                            </div>
                        </div>
<!--                       img 8 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/joseph-banh.png" alt="joseph">
                              <div class="card-body">
                                <h5 class="card-title">Joseph Banh</h5>
                                <h5 class="card-title">Director</h5>
                                <p class="card-text">Founder and Sr. Consultant JBanh Consulting
                                  <br>Director of Network Programming - LEADS
                                </p>                                
                              </div>
                            </div>
                        </div>
<!--                       img 9 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/karonika-brown.png" alt="karonika">
                              <div class="card-body">
                                <h5 class="card-title">Karonika Brown</h5>
                                <h5 class="card-title">Director</h5>
                                <p class="card-text">Legislative Aide to State Representative Vanna Howard
                                </p>                                
                              </div>
                            </div>
                        </div>
<!--                       img 10 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/seila-choup.png" alt="seila">
                              <div class="card-body">
                                <h5 class="card-title">Seila Choup</h5>
                                <h5 class="card-title">Director</h5>
                                <p class="card-text">Harvard Legal Aid Bureau
Legal Advocate for Volunteer Lawyers Project of the Boston Bar Association
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img end -->
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}