{% extends "layout.html" %}

{% block title %}
    BOARD OF DIRECTORS
{% endblock %}

{% block main %}
<div class="container my-3">
  <h1 class="pb-5">Board of Directors</h1>
<!--     <div class="row g-3">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active"> -->
                    <div class="row">
  
<!-- img 1 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/vannak-theng.png" alt="vannak">
                              <div class="card-body">
                                <h4 class="card-title">Vannak Theng</h4>
                                <h5 class="text-muted">President</h5>
                                <p class="card-text pt-2">ELL Teacher 
                                  <br>Lowell Public School
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 2 -->
                          <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/tha-chhan.png" alt="tha">
                              <div class="card-body">
                                <h4 class="card-title">Tha Chhan</h4>
                                <h5 class="text-muted">Vice President</h5>
                                <p class="card-text pt-2">Executive Director
                                  <br>Lowell Housing Authority
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 3 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/christopher-dias.png" alt="chris">
                              <div class="card-body">
                                <h4 class="card-title">Christopher Dias</h4>
                                <h5 class="text-muted">Treasurer</h5>
                                <p class="card-text pt-2">Cash Management & Product Solutions Advisor, VP
                                  <br>Enterprise Bank
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 4 -->
                          <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/bopha-boutselis.png" alt="bopha">
                              <div class="card-body">
                                <h4 class="card-title">Bopha Boutselis</h4>
                                <h5 class="text-muted">Secretary</h5>
                                <p class="card-text pt-2">Mathematics Teacher (FA) 
                                  <br>Lowell Public School
                                </p>                                
                              </div>
                            </div>
                        </div>

<!-- img 5 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/am-ngeth.png" alt="am">
                              <div class="card-body">
                                <h4 class="card-title">Am Ngeth</h4>
                                <h5 class="text-muted">Director</h5>
                                <p class="card-text pt-2">Khmer Advocate and Prevention Specialist   
                                  <br>Center of Hope and Healing
                                </p>                                
                              </div>
                            </div>
                        </div>
  
<!-- img 6 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/ani-vong.png" alt="ani">
                              <div class="card-body">
                                <h4 class="card-title">Ani Vong</h4>
                                <h5 class="text-muted">Director</h5>
                                <p class="card-text pt-2">Humanity Style 
                                  <br>Entrepreneurship Center – CTI
                                </p>                                
                              </div>
                            </div>
                        </div>
<!--                       img 7 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/barbara-dunsford.png" alt="barbara">
                              <div class="card-body">
                                <h4 class="card-title">Barbara Dunsford</h4>
                                <h5 class="text-muted">Director</h5>
                                <p class="card-text pt-2">Nonprofit Consultant
                                </p>                                
                              </div>
                            </div>
                        </div>
<!--                       img 8 -->
<div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/karonika-brown.png" alt="karonika">
                              <div class="card-body">
                                <h4 class="card-title">Karonika Brown</h4>
                                <h5 class="text-muted">Director</h5>
                                <p class="card-text pt-2">Legislative Aide to State Representative Vanna Howard
                                </p>                                
                              </div>
                            </div>
                        </div>

                      
<!--                       img 9 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/joseph-banh.png" alt="joseph">
                              <div class="card-body">
                                <h4 class="card-title">Joseph Banh</h4>
                                <h5 class="text-muted">Director</h5>
                                <p class="card-text pt-2">Founder and Sr. Consultant JBanh Consulting
                                  <br>Director of Network Programming - LEADS
                                </p>                                
                              </div>
                            </div>
                        </div>
<!--                       img 10 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/seila-choup.png" alt="seila">
                              <div class="card-body">
                                <h4 class="card-title">Seila Choup</h4>
                                <h5 class="text-muted">Director</h5>
                                <p class="card-text pt-2">Harvard Legal Aid Bureau
Legal Advocate for Volunteer Lawyers Project of the Boston Bar Association
                                </p>                                
                              </div>
                            </div>
                        </div>

                      <!--                       img 11 -->
<!--                       <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/board-of-directors/paulette-renault-caragianes.jpeg" alt="paulette" height="220">
                              <div class="card-body">
                                <h4 class="card-title">Paulette Renault-Caragianes</h4>
                                <h5 class="text-muted">Director</h5>
                                <p class="card-text pt-2">Associate Dean for Student Health and Wellness <br> Umass Lowell
                                </p>                                
                              </div>
                            </div>
                        </div> -->

<!-- img end -->
              </div>
<!--           </div>
      </div>
    </div>
  </div> -->

</div>


{% endblock %}