{% extends "layout.html" %}

{% block title %}
   CONTACT
{% endblock %}

{% block main %}

<!-- contact form -->
  <div class="container py-5">
    <div class="container">
      <h1>Contact us</h1>
      <span>
        Phone: 978-454-6200
        <p>Email: <a href="mailto:info@cmaalowell.org">info@cmaalowell.org</a></p>
      </span>
    </div>
  
    <div class="container pt-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.1093802088103!2d-71.32726724932998!3d42.637841079066945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3a465bbc921a5%3A0xdafe2e8d9525d052!2s465%20School%20St%2C%20Lowell%2C%20MA%2001851!5e0!3m2!1sen!2sus!4v1680196222266!5m2!1sen!2sus" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
    </div>

    
  </div>
<!--   <div class="container">
      {% include 'about/contact-form.html' %}
  </div> -->
    
  


{% endblock %}