{% extends "layout.html" %}

{% block title %}
   FINANCIALS
{% endblock %}

{% block main %}
<div class="container text-start">
  <h1 class="mt-5 mb-5">Financials</h1>
  <p>
    We post our Form-990 to the site as it becomes available. 
  </p>
  
  <div>
    <a href="/static/about/financials/2020-cmaa-form-990.pdf">2020 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2019-cmaa-form-990.pdf">2019 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2018-cmaa-form-990.pdf">2018 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2017-cmaa-form-990.pdf">2017 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2016-cmaa-form-990.pdf">2016 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2015-cmaa-form-990.pdf">2015 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2013-cmaa-form-990.pdf">2013 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2012-cmaa-form-990.pdf">2012 Annual Tax Return, Form 990</a>
  </div>
  <div>
    <a href="/static/about/financials/2010-cmaa-form-990.pdf">2010 Annual Tax Return, Form 990</a>
  </div>
  <p class="mt-5 mb-5">
    If you have any further questions, please contact: 
    <br><b>Sothea Chiemruom</b>
    <br><b>Executive Director</b>
    <br>978-454-6200 x1010
    <br><a href="mailto:SChiemruom@cmaalowell.org">SChiemruom@cmaalowell.org</a>
  </p>
</div>

{% endblock %}