{% extends "layout.html" %}

{% block title %}
   OUR PARTNERS
{% endblock %}

{% block main %}
<div class="container pb-5">
  <h1 class="border-bottom">Our Partners</h1>
  <div class="row g-5 pt-5">
    
    <!-- card 1 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://nmefoundation.org/" target="_blank"><img src="/static/nellie-mae.png" alt="nellie mae EDUCATION FOUNDATION logo" class="img-fluid" width="200" height="200"></a>
    </div>  
        <!--     card 2 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
       <a href="https://www.mass.gov/orgs/department-of-developmental-services" target="_blank"><img src="/static/dds-logo.png" alt="dds logo" class="img-fluid" width="200" height="200"></a>
    </div>   

<!--     card 3 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.clowesfund.org/" target="_blank"><img src="/static/about/our-partners/clowes-fund-logo.png" alt="clowes-fund-logo" class="img-fluid" width="200" height="200"></a>
    </div>
<!--     card 4 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.cummingsfoundation.org/" target="_blank"><img src="/static/about/our-partners/cummings_logo.jpeg" alt="cummings_logo" class="img-fluid" width="200" height="200"></a>
    </div>
<!--     card 5 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://foleyhoag.com/home/" target="_blank"><img src="/static/about/our-partners/foley-hoag-logo.jpeg" alt="foley-hoag-logo" class="img-fluid" width="200" height="200"></a>
    </div>
<!--     card 6 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.searac.org/" target="_blank"><img src="/static/about/our-partners/searac-logo.jpeg" alt="searac-logo" class="img-fluid" width="200" height="200"></a>
    </div>
<!--     card 7 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://unitedwaymassbay.org/" target="_blank"><img src="/static/about/our-partners/unitedway-logo.jpeg" alt="unitedway-logo" class="img-fluid" width="200" height="200"></a>
    </div>
<!--     card 8 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://yawkeyfoundation.org/" target="_blank"><img src="/static/about/our-partners/yawkey_foundation_logo.jpeg" alt="yawkey_foundation_logo" class="img-fluid" width="200" height="200"></a>
    </div>
           <!--     card 9 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.lowellma.gov/" target="_blank"><img src="/static/about/our-partners/cityoflowell-logo.jpeg" alt="cityoflowell-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    <!--     card 10 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.easternbank.com/" target="_blank"><img src="/static/about/our-partners/easternbank-logo.jpeg" alt="easternbank-logo" class="img-fluid" width="200" height="200"></a>
    </div>
<!--     card 11 -->
   
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://eforall.org/ma/merrimack-valley/" target="_blank"><img src="/static/about/our-partners/eforall-logo.png" alt="eforall-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    <!--     card 12 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.greaterlowellhealthalliance.org/" target="_blank"><img src="/static/about/our-partners/glha-logo.png" alt="glha-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    
    <!--     card 13 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.coalitionforabetteracre.org/" target="_blank"><img src="/static/about/our-partners/cbalowell-logo.png" alt="cba" class="img-fluid" width="200" height="200"></a>
    </div>
<!--     card 14 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.enterprisebanking.com/Lowell" target="_blank"><img src="/static/about/our-partners/enterprisebank-logo.png" alt="enterprisebank-logo" class="img-fluid" width="200" height="200"></a>
    </div>

    <!--     card 15 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.glcfoundation.org/" target="_blank"><img src="/static/about/our-partners/glcf-logo.png" alt="glcf-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    <!--     card 16 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.lowell.k12.ma.us/" target="_blank"><img src="/static/about/our-partners/lps-logo.jpeg" alt="lps-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    <!--     card 17 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.lchealth.org/" target="_blank"><img src="/static/about/our-partners/lchc-logo.jpeg" alt="lchc-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    <!--     card 18 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.mvhp.org/" target="_blank"><img src="/static/about/our-partners/mvhp-logo.jpeg" alt="mvhp-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    <!--     card 19 -->
    <div class="col-xs-6 col-md-4 col-lg-3 pt-5">
      <a href="https://massculturalcouncil.org/" target="_blank"><img src="/static/about/our-partners/mcc_logo.png" alt="masscultural-logo" class="img-fluid" width="200" height="200"></a>
    </div>
    <!--     card 20 -->
    <div class="col-xs-6 col-md-4 col-lg-3">
      <a href="https://www.parkerfoundationlowell.org/" target="_blank"><img src="/static/about/our-partners/parkerfoundation-logo.jpeg" alt="parkerfoundation-logo" class="img-fluid" width="200" height="200"></a>
    </div>
<!--   card end -->
  </div>
  
</div>

{% endblock %}