{% extends "layout.html" %}

{% block title %}
   OUR PARTNERS
{% endblock %}

{% block main %}
<div class="container">
  <h1>Our Partners</h1>
  <a href="https://nmefoundation.org/" target="_blank"><img src="/static/nellie-mae.png" alt="nellie mae EDUCATION FOUNDATION logo" width=250 height=150></a>
  
   
    <a href="https://www.mass.gov/orgs/department-of-developmental-services" target="_blank"><img src="/static/dds-logo.png" al="dds logo" width=250 height=150>
            </a>

  
  
</div>

{% endblock %}