{% extends "layout.html" %}

{% block title %}
    OUR TEAM
{% endblock %}

{% block main %}
<div class="container py-5">
  <h1>Meet our team</h1>
<!--     <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active"> -->
                    <div class="row g-3 my-3">
<!--                       img 1 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card d-flex flex-wrap justify-content-center mx-auto">
                              <img class="card-img-top" src="/static/about/our-team/sothea-chiemruom.png" alt="sothea">
                              <div class="card-body">
                                <h4 class="card-title">Sothea Chiemruom</h4>
                                <h5 class="text-muted">Executive Director </h5>             
                                <p class="card-text pt-3">Phone: 978-454-6200 x1010 <br>Email: <a href="mailto:schiemruom@cmaalowell.org">schiemruom@cmaalowell.org</a></p>  
                              </div>
                            </div>                          
                        </div>
<!--                       img 2 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card d-flex flex-wrap justify-content-center mx-auto">
                              <img class="card-img-top" src="/static/about/our-team/mary-kim-logan.png" alt="kim">
                              <div class="card-body">
                                <h4 class="card-title">Mary "Kim" Logan</h4>
                                <h5 class="text-muted">Fiscal Manager</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200 x1027
<br>Email: <a href="mailto:mlogan@cmaalowell.org">mlogan@cmaalowell.org</a></p>
                              </div>
                            </div>
                        </div>
<!--                       img 3 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/leakhena-vong.png" alt="leakhena">
                              <div class="card-body">
                                <h4 class="card-title">Leakhena Vong</h4>
                                <h5 class="text-muted">Monorom Manager</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200 x1026
<br>Email: <a href="mailto:lvong@cmaalowell.org">lvong@cmaalowell.org</a></p>
                              </div>
                            </div>
                        </div>

                    
                  
<!--                       img 4 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/nich-chea.png" alt="nich">
                              <div class="card-body">
                                <h4 class="card-title">Nich Chea</h4>
                                <h5 class="text-muted">Communications and Development Associate</h5>
                                <p class="card-text pt-2">Phone: 978-454-6200 x1023
<br>Email: <a href="mailto:nchea@cmaalowell.org">nchea@cmaalowell.org</a></p>
                               
                                
                              </div>
                            </div>
                        </div>
<!--                       img 5 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/nancy-carniglia.png" alt="nancy">
                              <div class="card-body">
                                <h4 class="card-title">Nancy Carniglia</h4>
                                <h5 class="text-muted">Grant Manager</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200
<br>Email: <a href="mailto:grants@cmaalowell.org">grants@cmaalowell.org</a></p>
                                
                              </div>
                            </div>
                        </div>
                      
                      <!--    img 6 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/lynn-arsenault.png" alt="lynn">
                              <div class="card-body">
                                <h4 class="card-title">Lynn Arsenault</h4>
                                <h5 class="text-muted">Grant Writer</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200
<br>Email: <a href="mailto:larsenault@cmaalowell.org">larsenault@cmaalowell.org</a></p>
                                
                              </div>
                            </div>
                        </div>
            <!--        img 7            -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/sophia-sar.png" alt="sophia">
                              <div class="card-body">
                                <h4 class="card-title">Sophia Sar</h4>
                                <h5 class="text-muted">Communications and Development Assistant</h5>
                                <p class="card-text pt-2">Phone: 978-454-6200
<br>Email: <a href="mailto:sophia.sar@cmaalowell.org">sophia.sar@cmaalowell.org</a></p>
                                
                              </div>
                            </div>
                        </div>

                      <!--       img 8 -->
                        <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/justin-ford.png" alt="justin">
                              <div class="card-body">
                                <h4 class="card-title">Justin Ford</h4>
                                <h5 class="text-muted">Civic Engagement Coordinator</h5>
                                <p class="card-text pt-2">Phone: 978-454-6200 x1022
<br>Email: <a href="mailto:justinsford@cmaalowell.org">justinsford@cmaalowell.org</a></p>
                              </div>
                            </div>
                        </div>

          <!--         img 9 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/ida-borin.png" alt="ida">
                              <div class="card-body">
                                <h4 class="card-title">Ida Borin</h4>
                                <h5 class="text-muted">Youth Program Coordinator</h5>
                                <p class="card-text pt-4">Phone: 978-454-6200 x1017
<br>Email: <a href="mailto:iborin@cmaalowell.org">iborin@cmaalowell.org</a></p>
                              </div>
                            </div>
                        </div>
                                    
<!--                       img 10 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/kennis.png" alt="kennis">
                              <div class="card-body">
                                <h4 class="card-title">Kennis Yin-Mor</h4>
                                <h5 class="text-muted">Communications and Youth Program Assistant</h5>
                                <p class="card-text pt-2">Phone: 978-454-6200 x1018
<br>Email: <a href="mailto:kennisyin@cmaalowell.org">kennisyin@cmaalowell.org</a></p>
                              </div>
                            </div>
                        </div>
          
<!--                       img 11 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/melissa-sin.png" alt="melissa">
                              <div class="card-body">
                                <h4 class="card-title">Melissa Sin</h4>
                                <h5 class="text-muted">Monorom Program Assistant</h5>
                                <p class="card-text pt-2">Phone: 978-454-6200 x1014
<br>Email: <a href="mailto:msin@cmaalowell.org">msin@cmaalowell.org</a></p>
                                
                              </div>
                            </div>
                        </div>
                      <!--  img 12 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/sophal-hay.png" alt="sophal">
                              <div class="card-body">
                                <h4 class="card-title">Sophal Hay</h4>
                                <h5 class="text-muted">Drop off - Respite Assistant</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200</p>
                                
                              </div>
                            </div>
                        </div>
                      <!--            img 13   -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/moeun-sok.png" alt="moeun">
                              <div class="card-body">
                                <h4 class="card-title">Moeun Sok</h4>
                                <h5 class="text-muted">Wrap-Around Front Desk Services Assistant</h5>
                                <p class="card-text pt-2">Phone: 978-454-6200 x1011
<br>Email: <a href="mailto:msok@cmaalowell.org">msok@cmaalowell.org</a></p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 14 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/linda-lak.png" alt="linda">
                              <div class="card-body">
                                <h4 class="card-title">Linda Lak</h4>
                                <h5 class="text-muted">Monorom Computer Instructor</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200
<br>Email: <a href="mailto:laklinda01@gmail.com">laklinda01@gmail.com</a></p>
                                
                              </div>
                            </div>
                        </div>
                      
                <!--   img 15 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/vannaret-tek.png" alt="vannaret">
                              <div class="card-body">
                                <h4 class="card-title">Vannaret Tek</h4>
                                <h5 class="text-muted" id="vannaret">Drop off - Respite Assistant & Wrap-Around Services Assistant</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200</p>
                                
                              </div>
                            </div>
                        </div>
                      
                      <!--  img 16 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/sreang-heng.png" alt="sreang">
                              <div class="card-body">
                                <h4 class="card-title">Sreang Heng</h4>
                                <h5 class="text-muted" id="sreang">Khmer Business Technical Assistant Liaison
Interpretation & Translation Services Coordinator
Energy Efficiency Project Ambassador</h5>
                                <p class="card-text">Phone: 978-454-6200 x1020
<br>Email: <a href="mailto:sheng@cmaalowell.org">sheng@cmaalowell.org</a></p>
                                
                              </div>
                            </div>
                        </div>
                  <!--    img 17 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/christopher-st-croix.png" alt="christopher">
                              <div class="card-body">
                                <h4 class="card-title">Christopher St. Croix</h4>
                                <h5 class="text-muted">IT Volunteer</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200
<br>Email: <a href="mailto:cstcroix@cmaalowell.org">cstcroix@cmaalowell.org</a></p>
                                
                              </div>
                            </div>
                      </div>
<!--                       img 18 -->
                      <div class="col-sm-6 col-md-4 col-lg-3 pb-5">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/kevin-santos.jpeg" width="50" height="220" alt="kevin">
                              <div class="card-body">
                                <h4 class="card-title">Kevin Santos</h4>
                                <h5 class="text-muted">Data Entry Associate</h5>
                                <p class="card-text pt-3">Phone: 978-454-6200
<br> <a href="#"></a></p>
                                
                              </div>
                            </div>
                        </div>

                  

<!--                       img end -->
             
<!--           </div>
      </div>
    </div>
  </div> -->
</div>
{% endblock %}


