<div id="carouselFunderControls" class="container carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

      
    <div class="row g-3">
<!--       col 1 -->
      <div class="col-lg-3">
        <div class="card h-100 pt-3" style="width: 15rem;">
          <div class="card-body">
            <a href="https://nmefoundation.org/" target="_blank"><img src="/static/nellie-mae.png" alt="nellie mae EDUCATION FOUNDATION logo" class="img-fluid float-center my-auto py-auto"></a>
          </div>
        </div>
      </div>

<!--   col 2 -->
    <div class="col-lg-3">
        <div class="card h-100" style="width: 15rem;">
          <div class="card-body">
            <a href="https://www.mass.gov/orgs/department-of-developmental-services" target="_blank"><img src="/static/dds-logo.png" alt="dds logo" class="img-fluid" width="200" height="200"></a>
          </div>
        </div>
    </div>

<!--       col 3 -->
    <div class="col-lg-3">
      <div class="card h-100 pt-4" style="width: 15rem;">
        <div class="card-body">
          <a href="https://www.clowesfund.org/" target="_blank"><img src="/static/about/our-partners/clowes-fund-logo.png" alt="clowes-fund-logo" class="img-fluid my-auto py-auto"></a>
        </div>
      </div>
    </div>
    
<!--     col 4 -->
    <div class="col-lg-3">
      <div class="card h-100 pt-2" style="width: 15rem;">
        <div class="card-body">
          <a href="https://www.cummingsfoundation.org/" target="_blank"><img src="/static/about/our-partners/cummings_logo.jpeg" alt="cummings_logo" class="img-fluid" width="200" height="200"></a>
        </div>
      </div>
    </div>
    
    </div>
        
         
    </div>

    
  <div class="carousel-item">     
        
    <div class="row g-3">
  <!--     col 5 -->
      <div class="col-lg-3">
        <div class="card h-100" style="width: 15rem;">
          <div class="card-body">
            <a href="https://www.searac.org/" target="_blank"><img src="/static/about/our-partners/searac-logo.jpeg" alt="searac-logo" class="img-fluid" width="200" height="200"></a>
          </div>
        </div>
      </div>
  
  <!--   col 6 -->
      <div class="col-lg-3">
        <div class="card h-100" style="width: 15rem;">
          <div class="card-body">
            <a href="https://foleyhoag.com/home/" target="_blank"><img src="/static/about/our-partners/foley-hoag-logo.jpeg" alt="foley-hoag-logo" class="img-fluid" width="200" height="200"></a>
          </div>
        </div>
      </div>
      
  <!--     col 7 -->
      <div class="col-lg-3">
        <div class="card h-100 py-4" style="width: 15rem;">
          <div class="card-body">
            <a href="https://unitedwaymassbay.org/" target="_blank"><img src="/static/about/our-partners/unitedway-logo.jpeg" alt="unitedway-logo" class="img-fluid" width="200" height="200"></a>
          </div>
        </div>
      </div>
  
  <!--   col 8 -->
     <div class="col-lg-3">
        <div class="card h-100 pt-4" style="width: 15rem;">
          <div class="card-body">
            <a href="https://yawkeyfoundation.org/" target="_blank"><img src="/static/about/our-partners/yawkey_foundation_logo.jpeg" alt="yawkey_foundation_logo" class="img-fluid" width="200" height="200"></a>
          </div>
        </div>
      </div>
    
    </div>
         
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselFunderControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselFunderControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





