{% extends "layout.html" %}

{% block title %}
    OUR TEAM
{% endblock %}

{% block main %}
<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active">
                    <div class="row">
<!--                       img 1 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/sothea-chiemruom.png" alt="sothea">
                              <div class="card-body">
                                <h5 class="card-title">Sothea Chiemruom</h5>
                                <p class="card-text">Executive Director</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 2 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/mary-kim-logan.png" alt="kim">
                              <div class="card-body">
                                <h5 class="card-title">Mary "Kim" Logan</h5>
                                <p class="card-text">Fiscal Manager</p>
                              
                              </div>
                            </div>
                        </div>
<!--                       img 3 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/leakhena-vong.png" alt="leakhena">
                              <div class="card-body">
                                <h5 class="card-title">Leakhena Vong</h5>
                                <p class="card-text">Monorom Family Support Program Manager</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 4 -->
                        <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/justin-ford.png" alt="justin">
                              <div class="card-body">
                                <h5 class="card-title">Justin Ford</h5>
                                <p class="card-text">Civic Engagement Coordinator</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 5 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/nich-chea.png" alt="nich">
                              <div class="card-body">
                                <h5 class="card-title">Nich Chea</h5>
                                <p class="card-text">Communications and Development Associate</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 6 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/kennis-yin-mor.png" alt="kennis">
                              <div class="card-body">
                                <h5 class="card-title">Kennis Yin-Mor</h5>
                                <p class="card-text">Communications and Development Assistant /
<br>Youth Program Assistant Coordinator</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img7 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/ida-borin.png" alt="ida">
                              <div class="card-body">
                                <h5 class="card-title">Ida Borin</h5>
                                <p class="card-text">Youth Program Coordinator</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 8 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/sophia-sar.png" alt="sophia">
                              <div class="card-body">
                                <h5 class="card-title">Sophia Sar</h5>
                                <p class="card-text">Communications and Development Assistant</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 9 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/moeun-sok.png" alt="moeun">
                              <div class="card-body">
                                <h5 class="card-title">Moeun Sok</h5>
                                <p class="card-text">Wrap-Around Front Desk Services Assistant</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 10 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/melissa-sin.png" alt="melissa">
                              <div class="card-body">
                                <h5 class="card-title">Melissa Sin</h5>
                                <p class="card-text">Monorom Family Support Program Assistant</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 11 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/linda-lak.png" alt="linda">
                              <div class="card-body">
                                <h5 class="card-title">Linda Lak</h5>
                                <p class="card-text">Monorom Computer Instructor</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 12 -->
                      <div class="col-sm-3 ">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/kevin-santos.jpeg" alt="kevin">
                              <div class="card-body">
                                <h5 class="card-title">Kevin Santos</h5>
                                <p class="card-text">Data Entry Associate</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 13 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/lynn-arsenault.png" alt="lynn">
                              <div class="card-body">
                                <h5 class="card-title">Lynn Arsenault</h5>
                                <p class="card-text">Grant Writer</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 14 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/nancy-carniglia.png" alt="nancy">
                              <div class="card-body">
                                <h5 class="card-title">Nancy Carniglia</h5>
                                <p class="card-text">Grant Manager</p>
                                
                              </div>
                            </div>
                        </div>
<!--                       img 15 -->
                      <div class="col-sm-3">
                            <div class="card">
                              <img class="card-img-top" src="/static/about/our-team/christopher-st-croix.png" alt="christopher">
                              <div class="card-body">
                                <h5 class="card-title">Christopher St. Croix</h5>
                                <p class="card-text">IT Volunteer</p>
                                
                              </div>
                            </div>
                      </div>
<!--                       img end -->
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


