{% extends "layout.html" %}

{% block title %}
   YOUTH PROGRAMS
{% endblock %}

{% block main %}
<div class="container text-center pb-5">
  <h1 class="text-start pt-5 pb-3">Youth Programs</h1>
  <div>
    <ul class="text-start">
      <li>Over 100 students enrolled in our Rising Stars Summer Program</li>
      <li>35 youth between the ages of 7-14 are part of our Cambodian Cultural After School Program</li>
      <li>15 high school students are participating in our Young Professionals Leadership Program</li>
    </ul>
  </div>
  <div>
    {% include 'programs-services/youth-programs/youth-programs-carousel.html'%}
  </div>
  <div>
    <p class="text-start pt-3">
      For more information, please contact:
      <br><b>Ida Borin</b>      
      <br><b>Youth Program Coordinator</b> 
      <br>Phone: 978-454-6200 x1017
      <br>Email: <a href="mailto:iborin@cmaalowell.org">iborin@cmaalowell.org</a>
    </p>
  </div>

  <div>
    <p class="text-start">
      <br><b>Kennis Yin-Mor</b>
      <br><b>Communications and Youth Program Assistant</b>
      <br>Phone: 978-454-6200 x1018
      <br>Email: <a href="mailto:kennisyin@cmaalowell.org">kennisyin@cmaalowell.org</a>
    </p>
  </div>  
  
</div>
{% endblock %}

  