{% extends "layout.html" %}

{% block title %}
   EVENTS
{% endblock %}

{% block main %}

<div class="container py-5">
  
<!--   event 1 -->
<!--   <section>  -->
  <div class="row g-5 pb-5 border-bottom">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3 class="pb-3">Khmer New Year 2023 Celebration - Year of the Rabbit</h3>
      <a href="/news-events/khmer-new-year/welcoming-angel-ceremony"><img src="/static/news-events/events/khmer-new-year-2023/kny-2023.png" class="rounded float-center w-100" alt="khmer new year 2023"></a>
    </div>
    
<!--   </section> -->
<!--   flag raising -->

    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3 class="pb-5">Cambodian Flag Raising Ceremony 2023 </h3>
      <a href="/static/news-events/events/khmer-new-year-2023/flag-raising-2023.png"><img src="/static/news-events/events/khmer-new-year-2023/flag-raising-2023.png" class="rounded float-center w-100" alt="flag raising 2023"></a>
    </div>
  </div>
 
      
  <!--   save the date -->
  
    <div class="row g-5" id="save-the-date">
      <h1 class="text-center text-primary text-decoration-underline pt-5"><b>Save the date!</b></h1>
        <div class="col-sm-12 col-md-6 col-lg-8"> 
          <a href="/static/news-events/events/khmer-new-year-2023/kny-2023-cmaa-clemente-park.png"><img src="/static/news-events/events/khmer-new-year-2023/kny-2023-cmaa-clemente-park.png" alt="khmer new year 2023 senior center" class="rounded float-center shadow-sm w-100"></a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <a href="https://one.bidpal.net/LOWELLKNY23" target="_blank"><img src="/static/news-events/events/khmer-new-year-2023/kny-2023-parade.png" alt="khmer new year 2023 parade - one bidpal" class="rounded float-center w-100"></a>
        </div>
    </div>
 
  
</div>

{% endblock %}