{% extends "layout.html" %}

{% block title %}
   NEWS
{% endblock %}

{% block main %}

<!-- <div class="container pb-5">
  <h1>Latest news</h1>
</div> -->
<div class="container py-5">
      <h2 class="border-bottom pt-5" id="latest-news">Latest News</h2>
      <div class="row g-4 py-5">
<!--         col 1 -->
        <div class="col-sm-12 col-md-4 col-lg-3 d-flex align-items-stretch">
          <div class="card text-center h-100">
              <img class="card-img-top" src="/static/tha-chhan.jpeg" alt="tha-chhan">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title text-start">Tha Chhan</h4>
                <p class="text-start mb-4">CMAA congratulates Mr. Tha Chhan on being appointed Executive Director of the Lowell Housing Authority‘s (LHA).</p>
                <a href="https://www.lowellsun.com/2023/02/21/tha-chhan-named-lowell-housing-authority-executive-director/" target="_blank" class="btn btn-primary float-center">Read more</a>
              </div>
            </div>
          </div>
   
<!--         col 2 -->
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
          <div class="card text-center h-100 float-end ">
          <img class="card-img-top" src="/static/sothea-boston-50.jpeg" alt="sothea-boston-50">
          <div class="card-body d-flex flex-column">
            <h4 class="card-title text-start">Sothea Chiemruom</h4>
            <p class="text-start mb-4">Congratulations to CMAA Executive Director Sothea Chiemruom on being recognized as one of Boston’s 50 Most Influential Asian-American Pacific Islanders. We also want to congratulate Dr. Julie Chen, Chancellor of UMASS Lowell, and Mayor Sokhary Chau.</p>
            <a href="https://www.getkonnected.com/market" target="_blank" class="btn btn-primary float-center">Read more</a>
          </div>
          </div>
        </div>
  </div>
</div>
{% endblock %}