{% extends 'layout.html' %}

{% block title %}
    SOCIAL MEDIA PAGES
{% endblock %}

{% block main %}
<section>
  <h1>Social Media Pages</h1>
</section>
<section>
  <div>
    <div class="px-md-3">
      <a href="https://www.facebook.com/cmaalowell" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/cmaalowell/" class="fa fa-instagram"></a>
      <a href="https://www.linkedin.com/company/cmaalowell" class="fa fa-linkedin"></a>
      <a href="https://twitter.com/cmaalowell" class="fa fa-twitter"></a>
    </div>
  </div>
</section>

{% endblock %}