{% extends 'layout.html' %}

{% block title %}
    SOCIAL MEDIA PAGES
{% endblock %}

{% block main %}
<section>
  <h1>Social Media Pages</h1>
</section>
<section class="py-3">
  <div class="container">
    <div class="row g-3">
      <div class="col-12 col-md-6 col-lg-8">
        
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        {% include 'facebook.html'%}
        <div class="px-3 py-5">
          <h6>Connect with us</h6>
          <a href="https://www.facebook.com/cmaalowell" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/cmaalowell/" class="fa fa-instagram"></a>
          <a href="https://www.linkedin.com/company/cmaalowell" class="fa fa-linkedin"></a>
          <a href="https://twitter.com/cmaalowell" class="fa fa-twitter"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <div>
    <div class="px-md-3">
      <a href="https://www.facebook.com/cmaalowell" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/cmaalowell/" class="fa fa-instagram"></a>
      <a href="https://www.linkedin.com/company/cmaalowell" class="fa fa-linkedin"></a>
      <a href="https://twitter.com/cmaalowell" class="fa fa-twitter"></a>
    </div>
  </div>
</section> -->

{% endblock %}