{% extends "layout.html" %}

{% block title %}
   CAMBODIAN AFTER SCHOOL PROGRAM
{% endblock %}

{% block main %}
<div class="container text-center">
  <h1 class="text-start pt-5 pb-2">Cambodian After School Program</h1>
  <div class='pb-2 row'> 
    <div class="col-6"> 
      <div class="pt-4 pb-4">
        <p class="text-start pb-4">
          We’re excited to provide a drop-in After School Program for the 2022-2023 school year. We have been coordinating activities for youth that includes homework tutoring, Khmer language, dance and music, and opportunities for community members to share their stories and experiences in special workshops.
        </p>
        <p class="text-start">
          <b>Schedule:</b>
          <br>September 5th, 2022 – End of School Year 2023
          <br>Monday-Friday
          <br>2:30pm – 5:30pm
        </p>
        <p class="text-start">
          To apply your child in the Cambodian After School Program, please come in-person for an application or click the link to download. 
          <br>
          <a href="/static/youth-programs/after-school-application-2023.pdf">Application 2023</a>
        </p>
      </div>
      <div>
        <p class="text-start">
          <br><b>For more information, please contact:</b>      
          <br>  Ida Borin
          <br>  Youth Program Coordinator
          <br>  Phone: 978-454-6200 x1017
          <br>  Email: iborin@cmaalowell.org
        </p>
      </div>

      <div>
        <p class="text-start">
          <br>  Kennis Yin-Mor
          <br>  Communications and Development Assistant
          <br>  Youth Program Assistant Coordinator
          <br>  Phone: 978-454-6200 x1018
          <br>  Email: kennisyin@cmaalowell.org
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="pt-4 pb-4">
        <a href="/static/youth-programs/after-school-application-2023.pdf">
        <img src="/static/youth-programs/youth-program-after-school-flyer-2022-2023.png" class="rounded float-center shadow bg-light w-100" alt="after school flyer"> </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

  