{% extends "layout.html" %}

{% block title %}
   RISING STARS - SUMMER PROGRAM
{% endblock %}

{% block main %}
<div class="container text-center">
  <h1 class="text-start pt-5 pb-2">Rising Stars Summer Program</h1>
  <div class='pb-2 row'> 
    <div class="col-6"> 
      <div class="pt-4 pb-4">
        <p class="text-start pb-4">
          The Rising Stars program provides youth a FREE (if qualified) summer sports and leadership program for 6 weeks. The program is targeted for youth and families that don’t have the financial resources for summer programs.This program will help keep youth focused on developing their leadership skills through a variety of activities. Sports, team builders, educational workshops, guest speakers, and field trips are just some of the activities and tools we will use to help attendees develop skills and experience personal growth during their time in the program.
        </p>
        <p class="text-start">
          <b>CMAA Rising Star is open for registration</b>
          <br><b>Location and schedule: TBA </b>
          <br>July 10th, 2023 – August 18th, 2023
          <br>Monday-Friday
          <br>9:30am – 2:30pm
        </p>
        <p class="text-start">
          To apply your child in the Rising Stars - Summer Program, please come in-person for an application or click the link to download. 
          <br>
          <a href="/static/youth-programs/rising-stars-summer-program/rising-stars-application.pdf">Rising Stars - Summer Program: Application 2023</a>
        </p>
      
        <p class="text-start">
          <br><b>For more information, please contact:</b>      
          <br>  Ida Borin
          <br>  Youth Program Coordinator
          <br>  Phone: 978-454-6200 x1017
          <br>  Email: iborin@cmaalowell.org
        </p>
        <p class="text-start">
          <br>  Kennis Yin-Mor
          <br>  Communications and Development Assistant
          <br>  Youth Program Assistant Coordinator
          <br>  Phone: 978-454-6200 x1018
          <br>  Email: kennisyin@cmaalowell.org
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="pt-4 pb-4">
        <a href="/static/youth-programs/rising-stars-summer-program/rising-stars-application.pdf">
        <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-flyer-2022.png" class="rounded float-center shadow bg-light w-100" alt="after school flyer"> </a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class='pb-2 row'> 
<!-- img 1 -->
      <div class="col-4">
        <div class="pt-4 pb-4">
          <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-pic1.jpeg" class="rounded float-center shadow bg-light w-100" alt="rising star pic1">
        </div>
      </div>
<!-- img 2 -->      
      <div class="col-4">
        <div class="pt-4 pb-4">
          <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-pic2.jpeg" class="rounded float-center shadow bg-light w-100" alt="rising star pic2">
        </div>
      </div>
<!-- img 3 -->      
      <div class="col-4">
        <div class="pt-4 pb-4">
          <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-pic3.jpeg" class="rounded float-center shadow bg-light w-100" alt="rising star pic3">
        </div>
      </div>
      
    </div>
  </div>
  <div class="container">
    <div class='pb-2 row'> 
<!-- img 4 -->
      <div class="col-4">
        <div class="pt-4 pb-4">
          <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-pic4.jpeg" class="rounded float-center shadow bg-light w-100" alt="rising star pic4">
        </div>
      </div>
<!-- img 5 -->      
      <div class="col-4">
        <div class="pt-4 pb-4">
          <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-pic5.jpeg" class="rounded float-center shadow bg-light w-100" alt="rising star pic5">
        </div>
      </div>
<!-- img 6 -->      
      <div class="col-4">
        <div class="pt-4 pb-4">
          <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-pic6.jpeg" class="rounded float-center shadow bg-light w-100" alt="rising star pic6">
        </div>
      </div>
      
    </div>
  </div>
  
</div>
{% endblock %}

  