{% extends "layout.html" %}

{% block title %}
   YOUNG PROFESSIONAL LEADERSHIP PROGRAM
{% endblock %}

{% block main %}
<div class="container">
  <h1 class="text-start pt-5 pb-5">Young Professional Leadership Program</h1>
  <div> 
    <h5 class="text-start"><b>Mission:</b></h5>
    <p class="text-start pb-3">
      To cultivate a culture of learning and friendship among Khmer college students through lifelong mentorship fostered by working professionals.
    </p>
  </div>
  <div>
    <h5 class="text-start"><b>Goals:</b></h5>
    <p class="text-start">
      <b>For High School, College Students & Young Professionals:</b>
      <br>An opportunity to foster change in someone’s life.
      <br>Use mentoring experience as a launching board for leadership roles and career opportunities.
      <br>Leverage professional mentors as a source of reference and learn more about various industries.
    </p>
    <p class="text-start">
      <b>For Professionals:</b>
      <br>An opportunity to give-back to the community and meet motivated youth.
    </p>
    <p class="text-start">
      <b>Program Guidelines:</b>
      <br>In order for this program to be successful, the individual professional mentor plays a critical role in supporting the youth in this program. 
      <br>Commitments from mentors are to have 2 point of contact a month, either through  email, phone calls, or face to face meeting for on-going basis.
    </p>
  </div>
      <div>
        <p class="text-start">
          <br><b>For more information, please contact:</b>      
          <br>  Ida Borin
          <br>  Youth Program Coordinator
          <br>  Phone: 978-454-6200 x1017
          <br>  Email: iborin@cmaalowell.org
        </p>
      </div>

      <div>
        <p class="text-start">
          <br>  Kennis Yin-Mor
          <br>  Communications and Development Assistant
          <br>  Youth Program Assistant Coordinator
          <br>  Phone: 978-454-6200 x1018
          <br>  Email: kennisyin@cmaalowell.org
        </p>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

  