{% extends "layout.html" %}

{% block title %}
   COVID-19 RESOURCES
{% endblock %}

{% block main %}
<div class="container pb-5">
  <h1 class="text-start py-5">Covid-19 Resources ធនធានកូវីដ១៩</h1>
  <div class="pb-3">
    <h4>Welcome to Covid-19 Resources Page of CMAA:</h4>
      <p>
        Understanding the significance of access to correct and reliable information during this uncertain time in different languages to meet the need of Lowell’s diverse community, CMAA has dedicated to provide needed translation of important documents from the state, the city, and various institutions into Khmer language. This page serves as platform where the translation is updated regularly and made available for download and share, but also provide quick access to other important websites.
      </p>
  </div>
  
  <div class="pb-3">
    <h4>សូមស្វាគមន៍មកកាន់ទំព័រធនធានកូវីដ១៩របស់សមាគមខ្មែរ៖</h4>
    <p> 
      ដោយដឹងពីសារៈសំខាន់នៃការទទួលបានពត៌មានដែលត្រឹមត្រូវ និងពិតប្រាកដ ជាភាសាផ្សេងៗ ក្នុងគ្រាមិនប្រក្រតីនេះ ដើម្បីឆ្លើយតបនឹងតម្រូវការនៃសហគមន៍ចម្រុះនៅក្នុងទីក្រុងឡូវែល សមាគមខ្មែរបានសម្រេចធ្វើការបកប្រែឯកសារសំខាន់ៗ ពីថ្នាក់រដ្ឋ ថ្នាក់ក្រុង និងស្ថាប័ននានា ជាភាសាខ្មែរ។ គេហទំព័រនេះគឺជាទីតាំងដែលឯកសារបកប្រែទាំងអស់ត្រូវបានធ្វើបច្ចុប្បន្នភាពជាប្រចាំ ហើយដាក់ឲ្យទាញយក និងចែករំលែកបន្ត។ គេហទំព័រនេះក៏មានផ្តល់ជូនពត៌មាននៃគេហទំព័រសំខាន់ៗផ្សេងៗទៀតផងដែរ។
      </p>
  </div>
  

<!--   row 1 start -->
    <div class="row pb-2"> 
  <!--     col 1 -->
      <div class="col-sm-12 col-md-6 col-lg-6">          
          <h6 class="my-4">Below is the latest updates on Covid-19 Vaccines for Lowell Residents:</h6>
          <a href="/static/walk-in-services/covid-19-resources/covid-19-resources-pic2.jpeg"><img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic2.jpeg" class="rounded float-center w-100" alt="covid-19 pic2"></a>       
      </div>
  <!--       col 2 -->
        <div class="col-sm-12 col-md-6 col-lg-6">          
            <h6 class="my-4">ខាងក្រោមនេះជាព័ត៌មានថ្មីៗអំពីថ្នាំបង្ការ ឬវ៉ាក់សាំងកូវីដ19 សម្រាប់ប្រជាជនទីក្រុងឡូវែល៖</h6>
            <a href="/static/walk-in-services/covid-19-resources/covid-19-resources-pic3.png"><img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic3.png" class="rounded float-center w-100" alt="covid-19 pic3"></a>          
        </div>
      
    </div>
  <!--    row 1 end  -->
  
    <div class="pt-5 pb-3">
      <h3 class="text-primary">Important Websites | គេហទំព័រសំខាន់ៗ</h3>
    </div>

<!--   row 2 start -->
    <div class="row pb-2"> 
  <!--   row  col 1 -->
      <div class="col-sm-12 col-md-6 col-lg-6">
     
          <h4 class="my-4">For Covid-19 updates from the state | 
            <br>សម្រាប់ពត៌មានទាន់ហេតុការណ៍អំពីវីរុសកូវីដ១៩ ពីថ្នាក់រដ្ឋ</h4>
        
          <div class="py-3">
            <a href="https://www.mass.gov/coronavirus-disease-2019-covid-19">Click here to go to the official site</a>
          </div>
        
          <div class="py-3">
            <a href="https://www.mass.gov/coronavirus-disease-2019-covid-19">សូមចុចទីនេះដើម្បីទៅកាន់គេហទំព័រផ្លូវការរបស់រដ្ឋ</a>
          </div>
            
        <p class="text-start py-3"> 
          Get the latest info about the Coronavirus in Massachusetts sent right to your phone, text “COVIDMA” to 888-777
        </p>
        
        <p class="text-start"> 
          ប្រសិនបើអ្នកចង់ទទួលបានពត៌មានថ្មីៗទាក់ទងនឹងការវិវឌ្ឈន៍ជុំវិញបញ្ហាវីរុសកូវីដ19 នៅក្នុងរដ្ឋម៉ាសាឈូសេត សូមផ្ញើពាក្យ “COVIDMA” ទៅកាន់លេខ 888-777
        </p>
        
      
        <div class="py-3">
          <a href="/static/walk-in-services/covid-19-resources/covid-19-social-distancing-pic.png">
        <img src="/static/walk-in-services/covid-19-resources/covid-19-social-distancing-pic.png" class="rounded float-center w-100 pb-4" alt="covid-19 social distancing pic"></a>
        </div>
      
    </div>
  <!--      col 2 -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        
            <h4 class="my-4">For Covid-19 updates from the city | 
              <br>សម្រាប់ពត៌មានទាន់ហេតុការណ៍អំពីវីរុសកូវីដ១៩ ពីថ្នាក់ក្រុង</h4>
<!--           city  link 1 -->
            <div class="py-3">
              <a href="https://www.lowellma.gov/1401/Coronavirus-COVID-19" target="_blank">
              <img src="/static/walk-in-services/covid-19-resources/lowellma-covid-19-update-info-link.jpeg" class="rounded float-center w-100" alt="cityoflowell covid-19 update"></a>
            </div>
<!--             city  link 2 -->
            <div class="py-3">
              <a href="https://www.lowellma.gov/1401/Coronavirus-COVID-19" target="_blank">
              <img src="/static/walk-in-services/covid-19-resources/lowellma-khmer-covid-19-update-info-link.jpeg" class="rounded float-center w-100" alt="cityoflowell covid-19 update khmer"></a>
            </div>
      <!--             city  link 3 -->
            <div class="py-3">
              <a href="/static/walk-in-services/covid-19-resources/emergency-operation-center-lowell.jpeg">
                <img src="/static/walk-in-services/covid-19-resources/emergency-operation-center-lowell.jpeg" class="rounded float-center w-100" alt="emergency-operation-center-lowell"></a>
            </div>
         
            <!-- city link 4 -->
            <div class="py-3">
              <a href="/static/walk-in-services/covid-19-resources/emergency-operation-center-lowell-khmer.jpeg">
                <img src="/static/walk-in-services/covid-19-resources/emergency-operation-center-lowell-khmer.jpeg" class="rounded float-center w-100" alt="emergency-operation-center-lowell-khmer"></a>
            </div>
            <!--  city link 5   -->
          <div class="py-3">
              <a href="/static/walk-in-services/covid-19-resources/alert_from_city_of_lowell.png">
                <img src="/static/walk-in-services/covid-19-resources/alert_from_city_of_lowell.png" class="rounded shadow-sm float-center w-100" alt="alert from city of lowell"></a>
            </div>
          
<!--             city link end -->
        
      </div>    
  </div>
  
  <!--    row 2 end  --> 
             
<!--   covid-19 other resources -->
  <div>
    <p>
      If you are experiencing hardship in paying your rental bills and home energy fuel bills, CMAA has available resources to help you. To see if you are qualified or to download the form, click the buttons below:
    </p>
  </div>
<!--   row 3 start -->
  <div class="row text-center g-2 py-3">
<!--                       col 1 -->
      <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Emergency Covid-19 Rental Assistance</h4>
<!--               <p class="card-text">Some make up the bulk of the card's content.</p> -->
              <a href="/static/Emergency-Covid-19-Rental-Assistance.pdf" class="btn btn-primary w-50">Apply</a>
            </div>
          </div>
      </div>
<!--                       col 2 -->
      <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Fuel Assistance Program</h4>
<!--               <p class="card-text">Some make up the bulk of the card's content.</p> -->
              <a href="/static/Home-Energy-Fuel-Assistance.pdf">
                <button type="button" class="btn btn-primary w-50">Apply</button></a>
            </div>
          </div>
      </div>
    
  </div>
<!--   row 3 end -->

  <!--   row 4 start -->
  <div class="row py-4">
    <!--     row 4 col 1 -->
    <div class="col-md-4 py-5 px-4">
      <a href="/static/walk-in-services/covid-19-resources/covid-19-resources-pic7.jpeg">
        <img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic7.jpeg" class="rounded float-center w-100" alt="covid-19 ebt info"></a>
      
    </div>
    <!--     row 4 col 2 -->
    <div class="col-md-4 py-5 px-4">
      <h3 class="text-start pb-3"><b>COVID-19 Testing Scam</b></h3>
      <a href="/static/walk-in-services/covid-19-resources/covid-19-resources-pic8.png">
        <img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic8.png" class="rounded float-center w-100 pb-4" alt="covid-19 scam info english"></a>
    </div>
<!--    row 4 col 3 -->
        <div class="col-md-4 py-5 px-4">
          <h3 class="text-start pb-3"><b>ពត៌មានក្លែងបន្លំពីការធ្វើតេសរកវីរុសកូវីដ១៩</b></h3>
          <a href="/static/walk-in-services/covid-19-resources/covid-19-resources-pic9.png">
            <img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic9.png" class="rounded shadow-sm float-center w-100 pb-4" alt="covid-19 scam info khmer"></a>
        </div>
  </div>
  <!-- row 4 end -->

<!-- row 5 media -->
<div class="row g-5 text-start py-2">
  <!--   row 5 col 1 -->
  <div class="col-sm-12 col-md-6 col-lg-6 py-3 pb-3">
    <p>
      CMAA would like to invite the public to participate in our Covid-19 Awareness Raising project by submitting a short video stating:
    <br>1. The importance of keeping yourself safe from Covid-19
    <br>2. What you regularly do to keep yourself safe from Covid-19
    </p>
    <p>  
      Participants can submit your video to <a href="https://www.facebook.com/cmaalowell">CMAA Facebook page</a> or send it to info@cmaalowell.org
      
      <br>All participants will receive a thermometre, a face shield and a hand sanitizer.
      
      <br>Note: The program will continue until we run out of stock for the complimentary gifts.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/py370vo0VLA" allowfullscreen></iframe>
    </div>
<!--     <div class="container">
      <iframe width="500" height="280" src="https://www.youtube.com/embed/py370vo0VLA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div> -->
    
  </div>

  <!-- row 4 col 2    -->
  <div class="col-sm-12 col-md-6 col-lg-6 py-3 px-3">
    <p>
      សមាគមខ្មែរសូមអញ្ជើញសាធារណជនចូលរួមជាមួយនឹងយើងក្នុងការចែករំលែកចំណេះដឹងអំពីជំងឺកូវីដ១៩ នៅក្នុងសហគមន៍ដោយផ្ញើវីដេអូខ្លីស្តីពី៖
    <br>1. សារៈសំខាន់ក្នុងការការពារខ្លួនពីកូវីដ១៩
    <br>2. វិធីការពារខ្លួនពីកូវីដ១៩ ដែលអ្នកអនុវត្តជារៀងរាល់ថ្ងៃ
    </p>
    <p>
      ដើម្បីចូលរួម លោកអ្នកគ្រាន់តែបញ្ជូនវីដេអូខ្លីមកពួកយើងតាម<a href="https://www.facebook.com/cmaalowell">ផេកហ្វេសប៊ុករបស់សមាគមន៍ខ្មែរ</a> ឬផ្ញើវីដេអូទៅអ៊ីមែល info@cmaalowell.org។

<br><br>អ្នកចូលរួមទាំងអស់នឹងទទួលបានរង្វាន់លើកទឹកចិត្តដូចជា ឧបករណ៍វាស់សីតុណ្ហភាព របាំងមុខ និងទឹកជែលសម្លាប់មេរោគ រហូតដល់អស់ពីស្តុក។
    </p>
<!--      -->
    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FKGVniP07bk" allowfullscreen></iframe>
    </div>
<!--      -->
<!--     <div class="container">
      <iframe width="500" height="280" src="https://www.youtube.com/embed/FKGVniP07bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div> -->
    
  </div>
  
  
</div>
<!-- row 4 end -->

  
  
<!--   contact info -->
    <div class="pt-2">
      <p class="text-start">
        If you need assistance with English-Khmer translation, and the document is related to COVID-19 and important, please contact us at <a href="mailto:info@cmaalowell.org">info@cmaalowell.org</a>
      </p>
    </div>
    <div class="mt-2 mb-2">
      <p class="text-start">
        For more information, please contact:
        <br><b>Moeun Sok</b>
        <br><b>Wrap-Around Front Desk Services Assistant</b>
        <br>Phone: (978) 454-6200 x1000
        <br>Email: <a href="mailto:msok@cmaalowell.org">msok@cmaalowell.org</a>
        
      </p>
    </div>
<!--    -->
</div>

{% endblock %}