{% extends "layout.html" %}

{% block title %}
   COVID-19 RESOURCES
{% endblock %}

{% block main %}
<div>
  <h1 class="text-start pt-5 pb-5">Covid-19 Resources ធនធានកូវីដ១៩</h1>
  <div class="pb-3">
    <h4>Welcome to Covid-19 Resources Page of CMAA:</h4>
          <p>
            Understanding the significance of access to correct and reliable information during this uncertain time in different languages to meet the need of Lowell’s diverse community, CMAA has dedicated to provide needed translation of important documents from the state, the city, and various institutions into Khmer language. This page serves as platform where the translation is updated regularly and made available for download and share, but also provide quick access to other important websites.
          </p>
  </div>
  <div class="pb-3">
      <h4>សូមស្វាគមន៍មកកាន់ទំព័រធនធានកូវីដ១៩របស់សមាគមខ្មែរ៖</h4>
      <p> 
        ដោយដឹងពីសារៈសំខាន់នៃការទទួលបានពត៌មានដែលត្រឹមត្រូវ និងពិតប្រាកដ ជាភាសាផ្សេងៗ ក្នុងគ្រាមិនប្រក្រតីនេះ ដើម្បីឆ្លើយតបនឹងតម្រូវការនៃសហគមន៍ចម្រុះនៅក្នុងទីក្រុងឡូវែល សមាគមខ្មែរបានសម្រេចធ្វើការបកប្រែឯកសារសំខាន់ៗ ពីថ្នាក់រដ្ឋ ថ្នាក់ក្រុង និងស្ថាប័ននានា ជាភាសាខ្មែរ។ គេហទំព័រនេះគឺជាទីតាំងដែលឯកសារបកប្រែទាំងអស់ត្រូវបានធ្វើបច្ចុប្បន្នភាពជាប្រចាំ ហើយដាក់ឲ្យទាញយក និងចែករំលែកបន្ត។ គេហទំព័រនេះក៏មានផ្តល់ជូនពត៌មាននៃគេហទំព័រសំខាន់ៗផ្សេងៗទៀតផងដែរ។
      </p>
  </div>
  

<!--   col start -->
    <div class='pb-2 row'> 
  <!--     col 1 -->
      <div class="col-md-6">
        <div class="mt-2 mb-2">  
<!--           <img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic1.png" class="rounded float-center w-100" alt="covid-19 pic1"> -->
          <h6 class="my-4">Below is the latest updates on Covid-19 Vaccines for Lowell Residents:</h6>
          <a href="/static/walk-in-services/covid-19-resources/covid-19-resources-pic2.jpeg"><img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic2.jpeg" class="rounded float-center w-100" alt="covid-19 pic2"></a>
        </div>
      </div>
  <!--       col 2 -->
        <div class="col-md-6">
          <div class="mt-2 mb-2">
            <h6 class="my-4">ខាងក្រោមនេះជាព័ត៌មានថ្មីៗអំពីថ្នាំបង្ការ ឬវ៉ាក់សាំងកូវីដ19 សម្រាប់ប្រជាជនទីក្រុងឡូវែល៖</h6>
            <a href="/static/walk-in-services/covid-19-resources/covid-19-resources-pic3.png"><img src="/static/walk-in-services/covid-19-resources/covid-19-resources-pic3.png" class="rounded float-center w-100" alt="covid-19 pic3"></a>
          </div>
        </div>
  <!--      -->
    </div>

        <div class="mt-2 mb-2">
          <p>
            If you need assistance with English-Khmer translation, and the document is related to COVID-19 and important, please contact us at <a href="mailto:info@cmaalowell.org">info@cmaalowell.org</a>
          </p>
        </div>
        <div class="mt-2 mb-2">
          <p class="text-start">
            <br><b>For more information, please contact:</b>
            <br>Moeun Sok
            <br>Wrap-Around Front Desk Services Assistant
            <br>msok@cmaalowell.org
            <br>978-454-6200 x1000
          </p>
        </div>
<!--   covid-19 other resources -->
  <div>
    <p>
      If you are experiencing hardship in paying your rental bills and home energy fuel bills, CMAA has available resources to help you. To see if you are qualified or to download the form, click the buttons below:
    </p>
  </div>
<!--   row start -->
  <div class="row">
<!--                       col 1 -->
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Emergency Covid-19 Rental Assistance</h5>
              <p class="card-text">Some make up the bulk of the card's content.</p>
              <a href="/static/Emergency-Covid-19-Rental-Assistance.pdf" class="btn btn-primary">Apply</a>
            </div>
          </div>
      </div>
<!--                       col 2 -->
      <div class="col-sm-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Fuel Assistance Program</h5>
              <p class="card-text">Some make up the bulk of the card's content.</p>
              <a href="/static/Home-Energy-Fuel-Assistance.pdf" >
                <button type="button" class="btn btn-primary">Apply</button></a>
            </div>
          </div>
      </div>
  </div>
<!--   row ends -->
  
    <div class="pt-5">
      <p class="text-start">
        If you need assistance with English-Khmer translation, and the document is related to COVID-19 and important, please contact us at <a href="mailto:info@cmaalowell.org">info@cmaalowell.org</a>
      </p>
    </div>
    <div class="mt-2 mb-2">
      <p class="text-start">
        <br><b>For more information, please contact:</b>
        <br>Moeun Sok
        <br>Wrap-Around Front Desk Services Assistant
        <br>msok@cmaalowell.org
        <br>978-454-6200 x1000
      </p>
    </div>
<!--    -->
</div>

{% endblock %}