{% extends "layout.html" %}

{% block title %}
   CITIZENSHIP CLASS
{% endblock %}

{% block main %}
<h1 class="text-start pt-5 pb-2">US Citizenship Preparation Class</h1>
  <div class='pb-2 row'> 
    <div class="col-4">
      <div class="mt-2 mb-2">
        <img src="/static/walk-in-services/citizenshipclass.jpeg" class="rounded float-center w-100" alt="citizenship class">
      </div>
    </div>
  </div>
<div class="mt-2 mb-2">
  <p class="text-start">
    <br><b>For more information, please contact:</b>
    <br>Moeun Sok
    <br>msok@cmaalowell.org
    <br>978-454-6200 x1000
  </p>
</div>

{% endblock %}