/* Size for brand */

/* nav 
{
    font-size: 1em; 
    font-weight: 400;
    color: #537fbe;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  
} */
/* .nav-item:hover {
  color: blue;
} */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}


ul.navbar-nav a.nav-link:hover {
/*   background-color: linear-gradient(120deg, #0d6efd 0%, #0d6eef 100%);
   text-decoration: underline;  */
  display: block;
  color: #0275d8;
/*   font-weight: bold; */
}

/* ul.dropdown-menu a.dropdown-item:active {
 
    background-color: #FFFF00;
    color: #FFC0CB;

} */

ul.dropdown-menu a.dropdown-item:hover {
  background: #0275d8;
  color: white;

}
/* section  */

section {
  
    height: 90vh;
/*   text style  */
    color: black;
    display: flex;
    text-decoration: none;
    font-size: 1.2em;
  
    justify-content: center;
    align-items: center;
    text-align: center;

/*   background style */
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/* @media only screen and (min-width: 200px) { */
  #home {
    background: linear-gradient(140deg,rgba(240,247,255,.4) 50%,rgba(89,124,255,.3)) padding-box,#f0f7ff;
    background-image: linear-gradient(rgba(255,255,255,0.90),rgba(255,255,255,0.90)), url("cmaa-flag-rising-pic2.jpeg");
     background-size: cover;
  }
/* } */

@media (min-width: 300px) {
  #carouselAutoplaying {
  background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url("cmaa-flag-rising-2022.jpeg");
     background-size: cover;
  }
}


#programs {
/*     color: #2974FF;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%); */
  background: #F2F5F9;
  
  opacity: 1;
}


#funders {
/*     color: #2974FF; */
  background-color: rgb(230, 236, 243);
  
/*   background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  background: #F2F5F9;
  opacity: 1; */
}


/* #latest-news {
      color: #2974FF;
} */
/* h2 #funders {
  color: #2974FF;
} */

/* social media icons  */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

}


:root {
  --bs-body-bg: red;
}

/* img */

/* .img-fluid {
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
} */

/* section #home-programs {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
} */

/* Colors for brand */
/* nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
 */

/* #hero-img {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
} */

#mission {
  color: #0a2540;
  font-size: 1.2em;
}

/* carousel-items */
.card {
  height: 100%;
  border: none;
  border-radius: 10;
  box-shadow: 2px 2px 8px 2px rgba(22, 22, 26, 0.18);
/*   background: rgba(59, 130, 246, 0.025); */
}

/* card-text */
.card-text {
  font-size: 0.85em; 
  font-weight: 400;
}

/* program cards */
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

  
}


h5 {
 
  font-size: 1em; 
/*   font-weight: bold; */
}

#vannaret {
  font-size: 0.9em;
}

#sreang {
  font-size: 0.7em;
}

.carousel-inner {
  padding: 1em;
  
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 576px) {
  .cards-wrapper {
    display: flex;
  }
/*   .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  } */
  .image-wrapper {
    height: 35vw;
    margin: 0 auto;
    
    
  }
}

@media (max-width: 576px) {
  .card:not(:first-child) {
    display: none;
  }
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

/* .btn {
  color: black;
  background-color: #c2e7ff;
} */

/* #rental-assistance {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: white;
} */


ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* iframe */
.embed-responsive {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
}

.embed-responsive-item {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

#daylight:link {
  color: rgba(33, 37, 41, 0.75);
  text-decoration: none;
}

#daylight:hover {
  color: 0d6efd;
  text-decoration: none;
}
