{% extends "layout.html" %}

{% block title %}
    ABOUT
{% endblock %}

{% block main %}
<div class="container">
  <div class="container text-start">
    <h1 class="text-start">Our story</h1>
    <p>
      The Cambodian Mutual Assistance Association of Greater Lowell, Inc. (CMAA) was incorporated as a not-for-profit Massachusetts corporation in 1984. It has been granted 501(c) (3) status by the Internal Revenue Service. CMAA has a unique corporate structure in that its “owners” are the members of the Cambodian community of Lowell.
    </p>
  
    <p>
    Most of the city’s Asian residents are Cambodian refugees who were resettled in Lowell during the 1980’s. As the number of Cambodians resettled in Lowell grew, and Cambodian Buddhist temples, markets, restaurants and other stores sprang up in Lowell, there was a secondary migration, as Cambodians resettled elsewhere moved to Lowell to join family and friends.
    </p>
  
    <p>
      City officials and other observers agree that the Census undercounted the Cambodian population. A number of reasons for the undercount have been advanced, including fear of contact with the government, based on adverse experiences in- their native land, language barriers, including both low proficiency in English, and low native language literacy rates, and fear of eviction, since many Cambodian families are extended families, with more people living in dwelling units than permitted under leases and health codes.
    </p>
  
    <p>
    Based on school enrollment data, and other data sources, most estimates place Lowell’s Southeast Asian population at 30,000 to 35,000. By any count, Lowell is home to the second largest Cambodian refugee population in the US. Long Beach, California has a larger population, but they make up a much smaller percentage of the population of that city.
    </p>
  </div>
</div>
{% endblock %}