<div class="card text-center">
  <img class="card-img-top" src="static/tha-chhan.jpeg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title text-start">Tha Chhan</h4>
    <p class="card-text text-start">CMAA congratulates Mr. Tha Chhan on being appointed Executive Director of the Lowell Housing Authority‘s (LHA).</p>
    <a href="https://www.lowellsun.com/2023/02/21/tha-chhan-named-lowell-housing-authority-executive-director/" target="_blank" class="btn btn-primary float-center">Read more</a>
  </div>
</div>
