<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="cards-wrapper">
<!--         card 1 -->
        <div class="card rounded mx-auto d-block">
          <div class="image-wrapper">
            <a href="/news-events/khmer-new-year/welcoming-angel-ceremony">
              <img src="/static/news-events/events/khmer-new-year-2023/kny-2023.png"  alt="Khmer New Year 2023" class="rounded"></a>
          </div>

        </div>



        </div>
      </div>
   

<!--     carousel 2 -->
    <div class="carousel-item">
      <div class="cards-wrapper">

<!--         card 3 -->
        <div class="card rounded mx-auto d-block">
          <div class="image-wrapper">
            <a href="/news-events/events">
              <img src="/static/news-events/events/khmer-new-year-2023/flag-raising-2023.png"  alt="Flag Raising 2023" class="rounded"></a>
          </div>

        </div>

      </div>
    </div>
<!--     carousel 3 -->

    <div class="carousel-item">
      <div class="cards-wrapper">

<!--         card 4 -->
        <div class="card rounded mx-auto my-auto d-block">
          <div class="image-wrapper">
            <a href="/news-events/events">
              <img src="/static/news-events/events/khmer-new-year-2023/kny-2023-cmaa-clemente-park.png"  alt="save the date KNY 2023" class="rounded"></a>
          </div>

        </div>

      </div>
    </div>

<!-- carousel 4 -->
    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card rounded mx-auto d-block">
          <div class="image-wrapper">
            <a href="/programs-services/walk-in-services/covid-19-resources">
              <img src="/static/walk-in-services/covid-19-resources/covid-19-information.jpeg"  alt="covid-19 information" class="rounded"></a>
          </div>
        </div>

        </div>
    
    </div>
    
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>