<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-6"> -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <a href="/news-events/khmer-new-year/welcoming-angel-ceremony">
            <img src="/static/news-events/events/khmer-new-year-2023/kny-2023.png" class="d-block w-100" alt="Khmer New Year 2023"></a>
          </div>
          <div class="carousel-item">
            <a href="/news-events/events">
            <img src="/static/news-events/events/khmer-new-year-2023/flag-raising-2023.png" class="d-block w-100" alt="Flag Raising 2023"></a>
          </div>
          <div class="carousel-item active">
            <a href="/news-events/events">
            <img src="/static/news-events/events/khmer-new-year-2023/kny-2023-cmaa-clemente-park.png" class="d-block w-100" alt="save the date KNY 2023"></a>
          </div>
          <div class="carousel-item">
            <a href="/programs-services/walk-in-services/covid-19-resources">
            <img src="/static/walk-in-services/covid-19-resources/covid-19-information.jpeg" class="d-block shadow w-100" alt="covid-19 information"></a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<!--     </div>
  </div>
</div> -->