{% extends "layout.html" %}

{% block title %}
   CIVIC ENGAGEMENT
{% endblock %}

{% block main %}
  <div class="container text-center">
    <h1>Civic Engagement</h1>
    <p>
      The program aims to empower all residents to become civically engaged in our community. Our program includes voter registration, the Get Out The Vote (GOTV) campaigns, Census (data disaggregation collecting), FairShare Amendment, Lowell municipal election redistricting map, and other policy and advocacy opportunities.
    </p>
    <h3>What is Civic Engagement?</h3>  
    <p>
      “Working to make a difference in the civic life of one’s community and developing the combination of knowledge, skills, values and motivation to make that difference.”
    </p>
    <h3>What civic engagement means to CMAA.</h3>
    <p>
    Civic Engagement is the most valuable tool we, as citizens, have to make our voices heard. CMAA’s goal is to educate our community on the foundations of voting and the importance of getting out to vote. CMAA’s civics team works with the community in a multitude of ways such as but not limited to: registering citizens to vote, hosting community feedback sessions/ surveys, educating the public about upcoming elections and candidates, as well as working to increase voter turnout in disenfranchised communities. The CMAA encourages community members to be involved in civics and get their voices heard! 
    </p>
    <h3>Data Equity</h3>
    <p>
      What is data equity? The kind of data collected matters and can help unearth a problem masked by aggregate data — even data already broken down by basic racial categories. For example, consider 2010 U.S. Census Bureau statistics that showed more than half of Asian Americans had a bachelor’s degree or higher by the age of 25, the highest proportion among racial categories. Yet when the data are disaggregated to focus specifically on Southeast Asian Americans, a different picture emerges. Just 15% of Cambodian Americans, 14% of Hmong Americans, 12% of Laotian Americans and 26% of Vietnamese Americans over the age of 25 had a bachelor’s degree, the census reported.      </p>
    <h3>Get Out The Vote!</h3>
    <p>
  CMAA is focused on hitting the ground and ensuring that all our community members vote and have their voices heard. Even though our target population are communities with low voter turnout, we provide opportunities to community-wide engagement and educational events.
    </p>

  <p>
    If you would like to register to vote today, please visit this link :<a href="www.sec.state.ma.us/ovr/" target="_blank">www.sec.state.ma.us/ovr/</a>
  </p>


  <p>
    You can also download the voter registration forms and mail them to your local city/town hall:
English
Khmer
Spanish
  </p>

  <p>
    For more information, please contact:
    <br>Justin Ford
    <br>Civic Engagement Coordinator
    <br>Phone: 978-454-6200 x1022
    <br>Email: Justinsford@cmaalowell.org
  </p>

Hillary Soun
Civic Engagement Assistant
Phone: 978-454-6200 x1020
Email: hsoun@cmaalowell.org

Jennifer Soun
Civic Engagement Assistant
Phone: 978-454-6200 x1022
Email: jsoun@cmaalowell.org
      
    </p>

  </div>  

{% endblock %}