{% extends "layout.html" %}

{% block title %}
   ESOL CLASS
{% endblock %}

{% block main %}
<div class="container text-center">
  <h1 class="text-start pt-5 pb-5">ESOL Class (English for Speakers of Other Languages)</h1>
  <div class='pb-2 row'> 
    <div class="col-6"> 
      <div class="mt-4 mb-4">
        <p class="text-start">In partnership with Frederick Assad Abisi Adult Education, CMAA’s English for Speakers of Other Languages (ESOL) classes program provide opportunities for community members seeking to improve English language skills. Currently, four classes are offered through Abisi Adult Education at CMAA. Two classes are held in the morning, Tuesday through Thursday, from 9:00 a.m. to 11:30 p.m. Two evening classes are held, Tuesday and Wednesday evenings, and Thursday and Friday evenings, from 6:00 to 8:45 p.m.
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="mt-4 mb-4">
        <img src="/static/esol-pic1.jpeg" class="rounded float-end w-100" alt="esol class picture">
      </div>
    </div>
  </div>

    
    <div class='pb-2 row'> 
      <div class="col-6"> 
        <div class="mt-4 mb-4">
          <p class="text-start">Classes meet from September through June. Enrollment is open and fluctuates: in class term 2014-2015 117 students were enrolled. Classes produce significant levels of improvement in English language proficiency as measured by the BEST Plus (a nationally-recognized English language proficiency exam); at last report, 70% of the 66 students tested showed an educational gain.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="mt-4 mb-4">
          <img src="/static/esol-pic2.jpeg" class="rounded mx-auto w-100" alt="esol class picture">
        </div>
      </div>
    </div>
</div>
{% endblock %}

  