{% extends "layout.html" %}

{% block title %}
   ESOL CLASS
{% endblock %}

{% block main %}
<div class="container pb-5">
  <h1 class="text-start pt-5 pb-5">ESOL Class (English for Speakers of Other Languages)</h1>
  <div class="row g-5"> 
    <div class="col-sm-12 col-md-6 col-lg-6"> 
        <p class="text-start pb-2">In partnership with <a href="https://www.lowell.k12.ma.us/Domain/34" target="_blank">Frederick Assad Abisi Adult Education</a>, CMAA’s English for Speakers of Other Languages (ESOL) classes program provide opportunities for community members seeking to improve English language skills. Currently, four classes are offered through Abisi Adult Education at CMAA.            </p>
         <p class="text-start pb-2"> 
         <b>Morning Classes:</b>
          <br>Beginner Level (Only): Tuesday, Wednesday & Thursday, 9am -10:45am
          
          <br>Intermediate Level: Tuesday, Wednesday & Thursday,  11am-12:45pm
        </p>
        <p class="text-start pb-2">
          <b>Evening Classes:</b>
          <br>Low Level (Only): Tuesday & Wednesday Evenings, 5pm-8pm 
          
          <br>Beginner Level (Only): Thurday & Friday Evenings, 5pm- 8pm
        </p>
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      
        <img src="/static/esol-pic1.jpeg" class="rounded float-end w-100" alt="esol class picture">
   
    </div>
  </div>

    
    <div class="row g-5 pt-5"> 
      <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="/static/esol-pic2.jpeg" class="img-fluid rounded mx-auto w-100" alt="esol class picture">
      </div>
      
      <div class="col-sm-12 col-md-6 col-lg-6"> 
        
          <p class="text-start">Classes meet from September through June. Enrollment is open and fluctuates: in class term 2014-2015 117 students were enrolled. Classes produce significant levels of improvement in English language proficiency as measured by the BEST Plus (a nationally-recognized English language proficiency exam); at last report, 70% of the 66 students tested showed an educational gain.
          <br><br>For more information, please contact: <a href="mailto:info@cmaalowell.org">
info@cmaalowell.org</a>
          </p>
     
      </div>
      
    </div>
</div>
{% endblock %}

  