<div class="container border-top" style="background-color:#f5f5f7;">
  <footer class="row pt-3 pb-1">
<!--     col 1 -->
    <div class="col-4">
      <div class="text-start ps-3">
        <h5>Visit us</h5>
        <p>
          <b>Office Location</b>
          <a href="https://www.google.com/search?q=465+School+Street+Lowell%2C+MA+01851&oq=465+School+Street+Lowell%2C+MA+01851&aqs=chrome..69i57.956j0j4&sourceid=chrome&ie=UTF-8">
            <br>465 School Street
            <br>Lowell, MA 01851
          </a>
          
        </p>
        <p>
          <b>Get in Touch</b> 
          <br>978-454-6200
          <br><a href="mailto:info@cmaalowell.org">info@cmaalowell.org</a>
        </p>

        <p>
          <b>Hours:</b> <br>Monday - Friday
          <br>9:00 AM - 5:00 PM
          <br>Saturday - Sunday : Closed
          <br>(Except for Programs & Special Events)
        </p>
      </div>
    </div>

    
<!-- col 2 -->
    <div class="text-start col-2 mb-3">
      <h6>About Us</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/about/our-story" class="nav-link p-0 text-muted">Our Story</a></li>
        <li class="nav-item mb-2"><a href="/about/our-team" class="nav-link p-0 text-muted">Our Team</a></li>
        <li class="nav-item mb-2"><a href="/about/board-of-directors" class="nav-link p-0 text-muted">Board of Directors</a></li>
        <li class="nav-item mb-2"><a href="/about/careers" class="nav-link p-0 text-muted">Careers</a></li>
        <li class="nav-item mb-2"><a href="/about/financials" class="nav-link p-0 text-muted">Financials</a></li>
        <li class="nav-item mb-2"><a href="/about/our-partners" class="nav-link p-0 text-muted">Our Partners</a></li>
        <li class="nav-item mb-2"><a href="/about/contact" class="nav-link p-0 text-muted">Contact</a></li>
      </ul>
    </div>
    
<!-- col 3 -->
    <div class="text-start col-2 mb-3">
      <h6>Programs & Services</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/programs-services/civic-engagement" class="nav-link p-0 text-muted">Civic Engagement</a></li>
        <li class="nav-item mb-2"><a href="/programs-services/esol-class" class="nav-link p-0 text-muted">ESOL Class</a></li>
        <li class="nav-item mb-2"><a href="/programs-services/khmer-class" class="nav-link p-0 text-muted">Khmer Language Class</a></li>
        <li class="nav-item mb-2"><a href="/programs-services/monorom-program" class="nav-link p-0 text-muted">Monorom Program</a></li>
        <li class="nav-item mb-2"><a href="/programs-services/walk-in-services" class="nav-link p-0 text-muted">Walk-In Services</a></li>
        <li class="nav-item mb-2"><a href="/programs-services/youth-programs" class="nav-link p-0 text-muted">Youth Programs</a></li>
        <li class="nav-item mb-2"><a href="/programs-services/translation-services" class="nav-link p-0 text-muted">Translation Services</a></li>
      </ul>
    </div>
    
<!--  col 4-->
    <div class="col-2 mb-3">
      <h6>News & Events</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/news-events/news" class="nav-link p-0 text-muted">News</a></li>
        <li class="nav-item mb-2"><a href="/news-events/events" class="nav-link p-0 text-muted">Events</a></li>
        
      </ul>
    </div>
<!--     col 5 -->
    <div class="col-2 mb-3">
      <h6>Get Involved</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/get-involved/corporate-sponsors" class="nav-link p-0 text-muted">Corporate Sponsors</a></li>
        <li class="nav-item mb-2"><a href="/get-involved/donate" class="nav-link p-0 text-muted">Donate</a></li>
        <li class="nav-item mb-2"><a href="/get-involved/volunteer" class="nav-link p-0 text-muted">Volunteer</a></li>
        
      </ul>
    </div>
    
 
<!--     div 2 -->
    
    
  </footer>
  <div class="text-center text-muted border-top pt-3 pb-3">
      <p class="text-muted">Copyright © 2023 Cambodian Mutual Assistance Association of Greater Lowell, Inc.
        All rights reserved.
      </p> 
      <p>Developed by Missy</p>
  </div>
</div>