{% extends "layout.html" %}

{% block title %}
   HOME
{% endblock %}

{% block main %}
<!-- <section id="home"> -->
  
  <div class="container py-5">
   
      <div class="row g-5 rounded">
        <div class="text-start col-sm-12 col-md-6 col-lg-6" id="mission">
          <h1>Our mission</h1>
          <p>
            is to improve the quality of life for Cambodian Americans and other minorities and economically disadvantaged persons in Lowell through educational, cultural, economic and social programs. 
            <br><br>សមាគមខ្មែរ លើកស្ទួយគុណភាពជីវិតរបស់ប្រជាជនខ្មែរអាមេរិកាំង រួមទាំងជនជាតិភាគតិចផ្សេងទៀត និងអ្នកដែលមានវិបត្តិសេដ្ឋកិច្ចនៅក្នុងទីក្រុងឡូវែលអោយកាន់តែប្រសើរឡើង តាមរយៈកម្មវិធីអប់រំ វប្បធម៌ សេដ្ឋកិច្ច និងសង្គម។</p>
        </div>
         <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="static/cmaa-flag-rising-pic2.jpeg" class="img-fluid rounded" id="hero-img" alt="cmaa flag rising">
        </div>
      </div>
  
  </div>
<!-- </section> -->

<!-- carosel  -->
<!-- <section id="carouselAutoplaying"> -->
  <div class="container-fluid py-5" id="carouselAutoplaying">
    {% include 'carosel-items.html' %}
  </div>
<!-- </section> -->
  


<!--     programs     -->
<!-- <section> -->
  <div class="container-fluid text-center pb-5" id="programs">
    {% include 'programs.html' %}
  </div>
<!-- </section> -->

<!--     partners  --> 
<!--     <section class="text-start" id="funders"> -->
      <div class="container-fluid pb-5" id="funders">
        <div class="container">
          <h2 class="border-bottom pt-5">Featured Funders</h2>
          <div class="container">
          {% include 'about/our-partners-carousel.html' %}
          </div>
        </div>
      </div>
<!--     </section> -->

<!-- lastest news  -->
  <div class="container pb-5">
      <h2 class="border-bottom pt-5" id="latest-news">Latest News</h2>
      <div class="row g-4 py-5">
<!--         col 1 -->
        <div class="col-sm-12 col-md-4 col-lg-3 d-flex align-items-stretch">
          <div class="card text-center h-100">
              <img class="card-img-top" src="static/tha-chhan.jpeg" alt="Card image cap">
              <div class="card-body d-flex flex-column">
                <h4 class="card-title text-start">Tha Chhan</h4>
                <p class="text-start mb-4">CMAA congratulates Mr. Tha Chhan on being appointed Executive Director of the Lowell Housing Authority‘s (LHA).</p>
                <a href="https://www.lowellsun.com/2023/02/21/tha-chhan-named-lowell-housing-authority-executive-director/" target="_blank" class="btn btn-primary float-center">Read more</a>
              </div>
            </div>
          </div>
   
<!--         col 2 -->
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
          <div class="card text-center h-100 float-end ">
          <img class="card-img-top" src="static/sothea-boston-50.jpeg" alt="Card image cap">
          <div class="card-body d-flex flex-column">
            <h4 class="card-title text-start">Sothea Chiemruom</h4>
            <p class="text-start mb-4">Congratulations to CMAA Executive Director Sothea Chiemruom on being recognized as one of Boston’s 50 Most Influential Asian-American Pacific Islanders. We also want to congratulate Dr. Julie Chen, Chancellor of UMASS Lowell, and Mayor Sokhary Chau.</p>
            <a href="https://www.getkonnected.com/market" target="_blank" class="btn btn-primary float-center">Read more</a>
          </div>
          </div>
        </div>
<!--         col 3 -->
        <div class="col-sm-12 col-md-4 col-lg-5 d-flex align-items-stretch">
<!--           <div class="card-body h-100 d-flex flex-column"> -->
            {% include 'facebook.html' %}
<!--           </div> -->
        </div>
    </div>
<!--       row end -->

  </div>

</div>
      
{% endblock %}
