{% extends "layout.html" %}

{% block title %}
   HOME
{% endblock %}

{% block main %}
      <div class="container text-center"
        <div class="row">
          <div class="col-md-6">
            <h2>Our mission</h2>
            <p class="lead">
              Improve the quality of life for Cambodian Americans and other minorities and economically disadvantaged persons in Lowell through educational, cultural, economic and social programs. សមាគមខ្មែរ លើកស្ទួយគុណភាពជីវិតរបស់ប្រជាជនខ្មែរអាមេរិកាំង រួមទាំងជនជាតិភាគតិចផ្សេងទៀត និងអ្នកដែលមានវិបត្តិសេដ្ឋកិច្ចនៅក្នុងទីក្រុងឡូវែលអោយកាន់តែប្រសើរឡើង តាមរយៈកម្មវិធីអប់រំ វប្បធម៌ សេដ្ឋកិច្ច និងសង្គម។
            </p>
          </div>
        {% include 'carosel-items.html' %}
        </div>
        
      </div>      
      <div>
        {% include 'programs.html' %}
      </div>
      <h2 class="text-center mt-2 mb-4">Job Openings</h2>
        <div>
          {% for job in jobs %}
            {% include 'jobs.html' %}
          {% endfor %}
        </div>
{% endblock %}