{% extends "layout.html" %}

{% block title %}
   HOME
{% endblock %}

{% block main %}
      <div class="container">
        <div class="row">
          <div class="container text-start my-5">
            <h1>Our mission</h1>
            <p class="lead text-start mt-3 mb-5">
              Improve the quality of life for Cambodian Americans and other minorities and economically disadvantaged persons in Lowell through educational, cultural, economic and social programs. 
              <br>សមាគមខ្មែរ លើកស្ទួយគុណភាពជីវិតរបស់ប្រជាជនខ្មែរអាមេរិកាំង រួមទាំងជនជាតិភាគតិចផ្សេងទៀត និងអ្នកដែលមានវិបត្តិសេដ្ឋកិច្ចនៅក្នុងទីក្រុងឡូវែលអោយកាន់តែប្រសើរឡើង តាមរយៈកម្មវិធីអប់រំ វប្បធម៌ សេដ្ឋកិច្ច និងសង្គម។
            </p>
          </div>
        {% include 'carosel-items.html' %}
        </div>
        
      </div>      
      <div>
        {% include 'programs.html' %}
      </div>
      
{% endblock %}