{% extends "layout.html" %}

{% block title %}
   KHMER CLASS
{% endblock %}

{% block main %}
<div class="container text-center">
  <h1 class="text-start pt-5 pb-3">Khmer Language Class</h1>
  <div class='pb-2 row'> 
    <div class="col-6"> 
      <div class="mt-4 mb-4">
        <p class="text-start">
          Currently, classes are no longer available due to COVID-19. Please visit here often to learn when we will offer these courses again.

When running, classes are offered to anyone over the age of 15 who would like to learn to read and write Khmer. Classes are taught by Tararith Kho who created a casual setting that follows a curriculum to different levels of experience to work together.
        </p>
        <p class="text-start">
          Schedule: currently canceled due to COVID-19.

<br>Cost:
$40 a month, or $10 per class

<br>For more information:
info@cmaalowell.org
  </p>
      </div>
    </div>
    <div class="col-6">
      <div class="mt-4 mb-4">
        <img src="/static/khmerclass.png" class="rounded float-center w-50" alt="khmer class picture">
      </div>
    </div>
  </div>
</div>
{% endblock %}

  