{% extends "layout.html" %}

{% block title %}
   KHMER CLASS
{% endblock %}

{% block main %}
<div class="container pb-5">
  <h1 class="text-start pt-5 pb-3">Khmer Language Class</h1>
  <div class="row g-5 pb-2"> 
    <div class="col-sm-12 col-md-6 col-lg-6"> 
      
        <p class="text-start pb-3">
          We're excited to offer Khmer class again!

          <br><br>  When running, classes are offered to anyone over the age of 15 who would like to learn to read and write Khmer. Classes are taught by Tararith Kho who created a casual setting that follows a curriculum to different levels of experience to work together.
        </p>
        <p class="text-start">
          Schedule: Sunday from 8:30 AM to 10:00 AM

<br>Cost: $40/month

<br><br>For more information, please contact: <a href="mailto:info@cmaalowell.org">
info@cmaalowell.org</a>
  </p>
      
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      
      <a href="/static/khmerclass.png">  <img src="/static/khmerclass.png" class="img-fluid rounded float-center w-50" alt="khmer class picture"> </a>
    
    </div>
    
  </div>
</div>
{% endblock %}

  