{% extends "layout.html" %}

{% block title %}
   MONOROM PROGRAM
{% endblock %}

{% block main %}
<div class="container pb-5">
  <h1 class="text-start pt-5 pb-3">Monorom Family Support Program</h1>
  <div class="row g-5 py-5"> 
    <div class="col-sm-12 col-md-6 col-lg-6"> 
      
        <p class="text-start pb-4">The Monorom Family Support Program has been serving families with special needs children and adults since 1987. The program provides families with case management, counseling, and recreational and educational opportunities. This program is funded by and in partnership with the Massachusetts Department of Developmental Services.
        </p>
        <p class="text-start">កម្មវិធីមនោរម្យជំនួយគ្រួសារបានបំរើសេវាជូនក្រុមគ្រួសារដែលមានកុមារ និងមនុស្សពេញវ័យត្រូវការជំនួយពិសេសតាំងពីឆ្នាំ១៩៨៧។ កម្មវិធីយើងមានផ្តល់សេវាកម្ម រៀបចំឯកសារ ប្រឹក្សាយោបល់ ឱកាសកំសាន្ត និងការអប់រំនានា ក្រោមជំនួយឧបត្ថម្ភពី និងកិច្ចសហការជាដៃគូនឹង Department of Developmental Services​​ នៃរដ្ឋម៉ាសាឈូសេត។
        </p>
    
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      
        <img src="/static/monorom-1.jpeg" class="rounded float-end w-100" alt="monorom picture">
      
    </div>
  </div>

    
    <div class="row g-5 py-5"> 
      <div class="col-sm-12 col-md-6 col-lg-6">
        
          <img src="/static/monorom-2.jpeg" class="img-fluid rounded float-end w-100" alt="monorom picture">
       </div>
      
      <div class="col-sm-12 col-md-6 col-lg-6"> 
        
          <p class="text-start"> 
            For more information, please contact:
            <br><b>Leakhena Vong</b>
            <br><b>Monorom Family Support Program Manager</b>
            <br>Phone: (978) 454-6200 x 1026
            <br>Email: <a href="mailto:lvong@cmaalowell.org">lvong@cmaalowell.org</a>
          </p>
          <div class="mt-4 mb-4 pt-4">
            <a href="https://www.mass.gov/orgs/department-of-developmental-services" target="_blank">
            <img src="/static/dds-logo.png" class="rounded float-start w-50" alt="dds-logo"></a>
          </div>
        </div>
    
      
    </div>
</div>
{% endblock %}

  