<nav class="navbar navbar-expand-lg bg-light fixed-top shadow-sm" >
        <div class="container-fluid mx-5">
            <a class="navbar-brand active" href="/">
              <img src="/static/CMAA-logo.jpeg" alt="cmaa logo" width="300" height="70" class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
<!--               about us dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About Us
                </a>
                <ul class="dropdown-menu">
                  <li class="dropend"><a class="dropdown-item" href="/about/our-story">Our Story</a></li>
                  <li class="dropend"><a class="dropdown-item" href="/about/our-team">Our Team</a></li>
                  <li><a class="dropdown-item" href="/about/board-of-directors">Board of Directors</a></li>
                  <li><a class="dropdown-item" href="/about/careers">Careers</a></li>
                  <li><a class="dropdown-item" href="/about/financials">Financials</a></li>
                  <li><a class="dropdown-item" href="/about/our-partners">Our Partners</a></li>
                  <li><a class="dropdown-item" href="/about/contact">Contact</a></li>
                </ul>
              </li>
<!--               program & services dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Program & Services
                </a>
                <ul class="dropdown-menu">
                  <li class="dropend"><a class="dropdown-item" href="/programs-services/civic-engagement">Civic Engagement</a></li>
                  <li><a class="dropdown-item" href="/programs-services/esol-class">ESOL Class</a></li>
                  <li><a class="dropdown-item" href="/programs-services/khmer-class">Khmer Language Class</a></li>
                  <li><a class="dropdown-item" href="/programs-services/monorom-program">Monorom Program</a></li>
                  <li><a class="dropdown-item" href="/programs-services/walk-in-services">Walk-in-services</a></li>
                  <li><a class="dropdown-item" href="/programs-services/youth-programs">Youth Programs</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/programs-services/translation-services">Translation Services</a></li>
                </ul>
              </li>
<!--               dropdown ends -->
<!--               news & events -->
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  News & Events 
                </a>
                <ul class="dropdown-menu">
                  <li class="dropend"><a class="dropdown-item" href="/news-events/news">News</a></li>
                  <li><a class="dropdown-item" href="/news-events/events">Events</a></li>
                </ul>
              </li>

<!--               get involved dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-hover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Get Involved 
                </a>
                <ul class="dropdown-menu">
                  <li class="dropend"><a class="dropdown-item" href="/get-involved/corporate-sponsors">Corporate Sponsors</a></li>
                  <li><a class="dropdown-item" href="/get-involved/donate">Donate</a></li>
                  <li><a class="dropdown-item" href="/get-involved/volunteer">Volunteer</a></li>
                </ul>
              </li>

<!--          dropdown     ends -->
            </ul>
          </div>

<!--         donate button -->
          <div class="d-flex align-items-end justify-content-end float-end">
    <a href="https://www.paypal.com/donate?token=igPINqjtpUmjev6Ahe94FZCunOWsy4ELqeOsmfOB_IMfXhkefWU9iV8sPpyPh5RvoHZT1nocufwwomLp" target="_blank">
      <button type="button" class="btn btn-primary btn-lg text-right me-2">Donate</button>
    </a>
</div>

<!--       donate button end     -->
        </div>
  </nav>
<div style="height:60px"></div>

