{% block main %}
<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card border border-primary">
                              <div class="card-body">
                                <h4 class="card-title">Civic Engagement</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/civic-engagement" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Monorom Programs</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/monorom-program" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Walk-In Services</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/walk-in-services" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Youth Programs</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/youth-programs" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
{% endblock %}


