{% block main %}
<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active">
                    <div class="row gy-3">
                        <div class="col-12 col-md-6 col-lg-3 pt-3">
                            <div class="card">
                              <div class="card-body">
                                <img src="/static/civic-engagement-pic1.jpeg" width="200" height="150">
                                <h4 class="card-title pt-2">Civic Engagement</h4>
                                <p class="card-text"></p>
                                <a href="/programs-services/civic-engagement" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 pt-3">
                            <div class="card">
                              <div class="card-body">
                                <img src="/static/monorom-pic3.jpeg" width="200" height="150">
                                <h4 class="card-title pt-2">Monorom Program</h4>
                                <p class="card-text"></p>
                                <a href="/programs-services/monorom-program" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 pt-3">
                            <div class="card">
                              <div class="card-body">
                                <img src="/static/walk-in-services-pic1.jpeg" width="200" height="150">
                                <h4 class="card-title pt-2">Walk-In Services</h4>
                                <p class="card-text"></p>
                                <a href="/programs-services/walk-in-services" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 pt-3">
                            <div class="card">
                              <div class="card-body">
                                <img src="/static/youth-programs/rising-stars-summer-program/rising-stars-pic1.jpeg" width="200" height="150">
                                <h4 class="card-title pt-2">Youth Programs</h4>
                                <p class="card-text"></p>
                                <a href="/programs-services/youth-programs" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}


