{% extends "layout.html" %}

{% block title %}
    OUR TEAM
{% endblock %}

{% block main %}

<div class="instructors mx-auto d-flex flex-column justify-content-center">
  <h1 class="h1 nav-target text-center mb-3 pt-3 mt-3 pt-sm-5 mt-sm-2">About our team</h1>
  <div class="instructor-cards d-flex flex-wrap justify-content-center mx-auto">
    <a class="w-100 w-sm-auto" href="#">
      <div class="instructor-card px-4 py-3.5 rounded">
        <div class="text-primary-100 d-flex flex-column justify-content-start text-center">
          <img class="pgn__avatar pgn__avatar-xl mx-auto border-0 mb-3" src="/static/about/our-team/sothea-chiemruom.png" alt="sothea" alt>
          <h3 class="lead font-weight-bold text-primary-100 mt-2 mb-3">Sothea</h3>
          <span>
            <span>
              <span>Executive Director</span>
              <span>123</span>
              <span>456</span>
            </span>
            <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"></span>
          </span>
        </div>
      </div>
    </a>
<!--     img 2 -->
    <a class="w-100 w-sm-auto" href="#">
      <div class="instructor-card px-4 py-3.5 rounded">
        <div class="text-primary-100 d-flex flex-column justify-content-start text-center">
          <img class="pgn__avatar pgn__avatar-xl mx-auto border-0 mb-3" src="/static/about/our-team/mary-kim-logan.png" alt="kim"" alt>
          <h3 class="lead font-weight-bold text-primary-100 mt-2 mb-3">Kim</h3>
          <span>
            <span>
              <span>Fiscal Manager</span>
              <span>123</span>
              <span>456</span>
            </span>
            <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"></span>
          </span>
        </div>
      </div>
    </a>
<!--     img 3 -->
    <a class="w-100 w-sm-auto" href="#">
      <div class="instructor-card px-4 py-3.5 rounded">
        <div class="text-primary-100 d-flex flex-column justify-content-start text-center">
          <img class="pgn__avatar pgn__avatar-xl mx-auto border-0 mb-3" src="/static/about/our-team/leakhena-vong.png" alt="leakhena"" alt>
          <h3 class="lead font-weight-bold text-primary-100 mt-2 mb-3">Leakhena</h3>
          <span>
            <span>
              <span>Monorom Family Support Program Manager</span>
              <span>123</span>
              <span>456</span>
            </span>
            <span style="position: fixed; visibility: hidden; top: 0px; left: 0px;"></span>
          </span>
        </div>
      </div>
    </a>
<!--     img 4 -->
  </div>
</div>
{% endblock %}