{% extends "layout.html" %}

{% block title %}
   CAMBODIAN TRANSLATION SERVICES
{% endblock %}

{% block main %}
<div class="container pb-5">
  <h1 class="text-start pt-5 pb-3">Cambodian Translation Services</h1>
  <div class="row g-5"> 
    <div class="col-sm-12 col-md-6 col-lg-8"> 
      
        <p class="text-start">Do you serve clients who speak Cambodian and other Southeast Asian languages? If your business is located in the greater Lowell area, Boston, Lexington, Peabody, Waltham, Lynn, or Fall River, it’s likely that you do. Serving these clients is challenging, as linguistic and cultural barriers can hinder effective communication between you and your clients.
        </p>
        <p class="text-start">At Cambodian Mutual Assistance Association (CMAA), we have over 25 years of experience in delivering effective, culturally, and linguistically appropriate services to the Southeast Asian community. We are expanding our services to include affordable and culturally sensitive interpretation and translation services in Cambodian and other Southeast Asian languages. Our interpreters are highly skilled in communication that involves complex language, body systems, and concepts/procedures of Western biomedicine. And by choosing a CMAA interpreter, you are supporting a community-based non-profit organization.
        </p>
        <p class="text-start">Our Team
Our interpreters are certified in the Bridging the Gap (BTG) Interpreter Training Program by the Cross Cultural Health Care Program – the organization established in 1992 in Seattle, WA in response to concerns from ethnic minority communities about the lack of culturally appropriate health care services.
          </p>
      
    </div>
    <div class="text-center col-sm-12 col-md-6 col-lg-4">
      
      <a href="/static/cmaa-translation-flyer-1.jpeg"> 
        <img src="/static/cmaa-translation-flyer-1.jpeg" class="img-fluid rounded float-center w-50" alt="cambodian translation flyer"></a>
      
    </div>
  </div>

    
    <div class="row g-5 pt-5"> 
      
      <div class="col-sm-12 col-md-6 col-lg-8"> 
          <p class="text-start">
            <b>Individuals and Organizations Who Used Our Services:</b>
            <br>City of Lowell
            <br>Lowell Community Health Center
            <br>Lowell Senior Center
            <br>Massachusetts Office of the Attorney General
            <br>Massachusetts Secretary of the Commonwealth
            <br>Mill City Grows
          </p>
          <p class="text-start">  
            <b>Staff and Contractors:</b>
            <br>Leakhena Vong 
            <br>Mana Kheang
            <br>Nich Chea 
            <br>Ida Borin
            <br>Sovicheth Boun
            <br>Kennis Yin-Mor
          </p>
          <p class="text-start">
            <br>For more information, please contact:          
            <br>Nich Chea
            <br>Phone: (978) 454-6200 x1000
            <br>Email: <a href="mailto:nchea@cmaalowell.org">nchea@cmaalowell.org</a>
            
          </p>
      </div>
      <div class="text-center col-sm-12 col-md-6 col-lg-4">
        
        <a href="/static/cmaa-translation-flyer-2.jpeg"> <img src="/static/cmaa-translation-flyer-2.jpeg" class="rounded float-center w-50" alt="cambodian translation flyer"></a> 
       
      </div>
      
    </div>
</div>
{% endblock %}

  