{% extends "layout.html" %}

{% block title %}
   WALK-IN-SERVICES
{% endblock %}

{% block main %}
<div class="container text-center">
  <h1 class="text-start pt-5 pb-3">Walk-In Services</h1>
  <div class='pb-2 row'> 
    <div class="col-6"> 
      <div class="mt-4 mb-4">
        <p class="text-start pb-4">When language barriers prevent community members from accomplishing daily tasks or solving issues on their own, CMAA staff offer free interpretation and translation assistance. This service is available to all through appointments and on a walk-in basis. CMAA’s clients came in for, and received more than, sixty different types of assistance with such services in fiscal year 2014-2015.
        </p>
        <p class="text-start">This free service is provided from 9:00 a.m. to 5:00 p.m. Monday through Friday.
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="mt-4 mb-4">
        <img src="/static/walk-in-services-pic1.jpeg" class="rounded float-end w-100" alt="walk-in-services">
      </div>
    </div>
  </div>

    
    <div class='pb-2 row'> 
      <div class="col-6"> 
        <div class="mt-4 mb-4">
          <p class="text-start">Here are the most frequently assisted areas CMAA helps with:
            <ul class="text-start">
              <li>Citizenship (forms and communication)</li>
              <li>Community partner referrals</li>
              <li>Employment Authorization Resumes and other job search assistance</li>
              <li>Fax and Copy services</li>
              <li>Fuel Assistance CTI application</li>
              <li>Green Card (renewal only)</li>
              <li>General translation (forms or paperwork)</li>
              <li>Health Insurance Assistance</li>  
              <li>Housing Application</li>
              <li>Masshealth sign ups</li>  
              <li>State I.D. cards</li>
              <li>Safelink/Lifelink (wireless) Services</li>  
              <li>SNAP (Food Stamps)</li>
              <li>Social Security</li>
              <li>Unemployment Assistance</li>
              <li>Voter Registration</li>
              <li>Welfare (TAFDC)</li>
              </ul>
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="mt-4 mb-4">
          <img src="/static/walk-in-services-pic2.jpeg" class="rounded float-end w-100" alt="walk-in-services">
        </div>
      </div>
    </div>
  <div>
    <p class="text-start">
      <b>NEW!!!</b>
<br>CMAA is excited to provide new assistance opportunities for our community during this pandemic.
    </p>

    <p class="text-start">
      If you are experiencing hardship in paying your rental bills and home energy fuel bills, CMAA has available resources to help you. 
      <br>To see if you are qualified or to download the form, click the buttons below:
      <br><a href="/static/Emergency-Covid-19-Rental-Assistance.pdf">Emergency-Covid-19-Rental-Assistance</a>
      <br><a href="/static/Home-Energy-Fuel-Assistance.pdf">Home-Energy-Fuel-Assistance</a>
    </p>
    <p class="text-start">
      <br><b>For more information, please contact:</b>
      <br>Moeun Sok
      <br>msok@cmaalowell.org
      <br>978-454-6200 x1000
    </p>
    
  </div>
</div>
{% endblock %}

  