{% extends "layout.html" %}

{% block title %}
   FIRST TIME HOME BUYER TRAINING
{% endblock %}

{% block main %}
<div class="container text-center">
  <h1 class="text-start pt-4 pb-4">First Time Home Buyer Training (FTHB)</h1>
  <div class='pb-4 row'> 
    <div class="col-6"> 
      <div>
        <p class="text-start">
          Home ownership is one of the most powerful asset building strategies for families. Purchasing a home is a complex transaction that requires much planning and preparation, including building good credit, saving for a down payment, working with a realtor to find a home that meets the family’s needs, negotiating a purchase price, applying for loans and evaluating competing loan offers, closing the loan, and then maintaining the home and family finances.
        </p>        
      </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-5">
      <div class="pb-4">
        <img src="/static/walk-in-services/fthb-training/fthb_january2015.jpeg" class="rounded float-end w-100" alt="fthb_january_2015">
      </div>
    </div>
  </div>
  
<!-- 2 row -->
  <div class='pt-4 pb-4 row'> 
    <div class="col-6"> 
      <div class="pt-4 pb-4">
        <p class="text-start">
          Home purchase is particularly difficult for refugee families in Lowell. Homeownership rates for Cambodians are significantly below the rate for the general population. According to Census 2000 data, 30.64% of Cambodian families in Lowell live in homes that they own, compared to 61.71% of all families in Massachusetts. The current downturn in the housing market has made home purchases more affordable, while at the same time, tightening credit requirements make it all the more important that prospective home buyers understand how to build a solid credit history.
        </p>
        <p class="text-start">
          Government down payment assistance programs exist to help low/moderate income buyers. These programs require potential beneficiaries to attend and complete a homebuyer education program. Our First Time Home Buyer (FTHB) classes are offered in partnership with with the Merrimack Valley Housing Partnership’s Project Genesis.
        </p>
        
      </div>
    </div>
    
    <div class="col-1">
    </div>
    
    <div class="col-5">
      <div class="pb-4">
        <img src="/static/walk-in-services/fthb-training/fthb-flyer1.png" class="rounded float-end w-100" alt="fthb-flyer">
      </div>
    </div>
  </div>

<!--3 row -->
  <div class='pt-4 pb-4 row'> 
    <div class="col-6"> 
      <div class="pt-4 pb-4">
        <p class="text-start">
          The CMAA provides the outreach and recruiting, provides translation, and the classes are offered at the CMAA’s offices. Merrimack Valley Housing Partnership provides the instructors, speakers and handouts. These classes are the only classes offered for Khmer-speakers in Lowell. They are offered on weekends, while the English language classes offered by Merrimack Valley Housing Partnership are offered in the evening, which is an obstacle for the many Cambodians who work second or third shift in local manufacturing positions. Because of the language capacity we bring to the project, and because of the time difference, we do not compete with the English language classes that MVHP offers. Instead, we make those classes accessible to a significant segment of the Lowell community that is unable to complete the English-language classes.
        
        </p>
        <p class="text-start pt-4">
          <b>For more info:</b>
          <br>Moeun Sok
          <br>msok@cmaalowell.org
          <br>978-454-6200 x1000
          
        </p>
        
      </div>
    </div>

    <div class="col-1">
    </div>

    <div class="col-5">
      <div class="pt-4 pb-4">
        <img src="/static/walk-in-services/fthb-training/fthb-flyer1.png" class="rounded float-end w-100" alt="fthb-flyer-khmer">
      </div>
    </div>
  </div>

<!-- 4 row -->
     
</div>
{% endblock %}

  