
<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item py-5 active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Covid-19 Resources</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/walk-in-services/covid-19-resources" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">US Citizenship Class</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/walk-in-services/citizenship-class" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">First Time Home Buyer Training</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/walk-in-services/first-time-home-buyer-training" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Other Walk-In Services</h4>
                                <p class="card-text">Some make up the bulk of the card's content.</p>
                                <a href="/walk-in-services/other-services" class="btn btn-primary">Learn more</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>


