{% extends "layout.html" %}

{% block title %}
   CORPORATE SPONSORS
{% endblock %}

{% block main %}

<div class="container py-5">
  <h1>Corporate Sponsors</h1>
  <div class="py-3">
    <p class="text-start">
      For any questions about the events and sponsorship, please contact:           
      <br><b>Nich Chea</b>
      <br><b>Communications and Development Associate</b>
      <br>Phone: (978) 454-6200 x1000
      <br>Email: <a href="mailto:nchea@cmaalowell.org">nchea@cmaalowell.org</a>
    </p>
    <div>
      <p class="py-3">  
      <b> To donate online via Paypal:</b>
      <!--         donate button -->
      <a href="https://www.paypal.com/US/fundraiser/charity/1451750" target="_blank">
          <button type="button" class="btn btn-primary btn-lg text-right me-2">Donate</button>
        </a> 
      <!--       donate button end     --> 
      </p>
    </div>
    <p>If you prefer mailing us a check, please make it payable to <b class="text-primary">CMAA</b> and mail it to:
      <a href="https://www.google.com/search?q=465+School+Street+Lowell%2C+MA+01851&oq=465+School+Street+Lowell%2C+MA+01851&aqs=chrome..69i57.956j0j4&sourceid=chrome&ie=UTF-8">465 School Street, Lowell, MA 01851</a>
      </p>
  </div>
  
</div>

{% endblock %}