{% extends "layout.html" %}

{% block title %}
   CORPORATE SPONSORS
{% endblock %}

{% block main %}

<div>
  <h1>Corporate Sponsors</h1>
  <div class="py-3">
    <p class="text-start">
      For any questions about the event and sponsorship, please email: 
<br>Nich Chea at <a href="mailto:nchea@cmaalowell.org">Nchea@cmaalowell.org</a>
<br>Kennis Yin-Mor at <a href="mailto:kennisyin@cmaalowell.org">Kennisyin@cmaalowell.org</a>
    </p>
    <div>
      <p>  
      <b> To donate online via Paypal:</b>
      <!--         donate button -->
      <a href="https://www.paypal.com/US/fundraiser/charity/1451750" target="_blank">
          <button type="button" class="btn btn-primary btn-lg text-right me-2">Donate</button>
        </a> 
      <!--       donate button end     --> 
    </p>
    </div>
    <p>If you prefer mailing us a check, please make it payable to <b>CMAA</b> and mail it to:
    <b>465 School Street, Lowell, MA 01851</b></p>
  </div>
  
</div>

{% endblock %}