{% extends "layout.html" %}

{% block title %}
   VOLUNTEER
{% endblock %}

{% block main %}

<div class="container pb-5">
  <h1>Volunteer</h1>
  <div class="container py-3">
    <ul class="no-bullets py-2">
      <li><a href="/static/get-involved/volunteer/civic-engagement-volunteer-flyer.png" alt="civic engagement volunteer flyer">Civic Engagement
    </a></li>
      <li>Fundraising Committee Members</li>
      <li>Social Media & Marketing</li>
      <li>Video and TV Show</li>
    </ul>
  </div>
  <div class="container pt-5">
    <p class="text-start">
      For any questions about volunteering opportunities, please contact:           
      <br><b>Nich Chea</b>
      <br><b>Communications and Development Associate</b>
      <br>Phone: (978) 454-6200 x1000
      <br>Email: <a href="mailto:nchea@cmaalowell.org">nchea@cmaalowell.org</a>
    </p>
  </div>
<!--   1-->
<!--   <div class="row border-bottom py-3"> 
    <div class="col-9"> 
      <h4 class="text-muted">Civic Engagement</h4>
    </div>
    <div class="col-3">
      <a href="/static/get-involved/volunteer/civic-engagement-volunteer-flyer.png" alt="civic engagement volunteer flyer"><button type="button" class="btn btn-outline-primary float-end">Learn more</button>
    </div></a>
  </div> -->
  <!--   2-->
<!--   <div class="row border-bottom py-3"> 
    <div class="col-9"> 
      <h4 class="text-muted">Fundraising Committee Members</h4>
    </div>
    <div class="col-3">
      <a href="/static/get-involved/volunteer/civic-engagement-volunteer-flyer.png" alt="civic engagement volunteer flyer"><button type="button" class="btn btn-outline-primary float-end">Learm more</button>
    </div></a>
  </div> -->
<!--    -->


  
<!--   <div class="text-start my-3 py-3">
    <h3 class="text-start my-3 py-3">Civic Engagement - Volunteer Opportunity</h3>
    <a href="/static/get-involved/volunteer/civic-engagement-volunteer-flyer.png"><img src="/static/get-involved/volunteer/civic-engagement-volunteer-flyer.png" class="w-50" alt="civic engagement volunteer flyer"></a>
    <p class="text-start my-3 py-3">If you would like to get involved in working with CMAA’s Civics Team, please fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLScR8asH7z5FYhoOZlL1nhOQdP_og4rlzXnvF5_gORJscbYi5g/viewform?vc=0&c=0&w=1&flr=0">form.</a></p>
  </div> -->
  
</div>

{% endblock %}