{% extends "layout.html" %}

{% block title %}
   EVENTS
{% endblock %}

{% block main %}

<div class="container pb-5">
  <div class="container row my-3 py-3 text-center">
    <h2 class="pb-3">Welcoming Angel Ceremony - Khmer New Year 2023</h2>
    <a href="/static/news-events/events/khmer-new-year-2023/kny-2023.png"><img src="/static/news-events/events/khmer-new-year-2023/kny-2023.png" class="img-fluid rounded" alt="khmer new year 2023" width="700" height="300"></a>
  </div>

  <div class="my-3 py-3 row">
        <div class="col-md-6 py-2"> 
          <p class="text-start">
            Cambodians celebrate their new year annually in the middle of April. Traditionally, Cambodians spend 3 days enjoying the Khmer New Year. This year, the celebration starts from the 14th to the 16th of April 2023. According to Khmer traditions based on an old Hindu astrology, Cambodians believe that on Friday, April 14, 2023 at 4:00PM (Cambodian Time) or Friday, April 13, 2022 at 5:00AM (Eastern Time USA), the Sun passes from Mina Rashi (Pisces) to Mesa Rashi (Aries), marking a complete revolution thus starting a new cycle. </p>

          <p class="text-start">  Cambodians believe that the new year angels descend from the heavens of the Four Great Kings to bless them. The leading angel of this year is called Kemira Devi; the sixth daughter of Kbal Maha Prum, holding a Sword on her left hand, a Harp on her right hand, and riding a water buffalo. </p>

 

          <p class="text-start">  The first day, April 14th, is called Maha Sangkran (the great transmigration of the Sun). Second day, April 15th is called Virak Vanabat (the blind day). The third day, April 16th, is called Virak Lerng Sak "the new year day". During the three days, Cambodians are praying for happiness, friendship, kindness, harmony, and forgiveness toward others.</p>
          
        </div>
        <div class="col-md-6 py-2">
          <p class="text-start">
            សួស្តីឆ្នាំថ្មី ២០២៣! ជនជាតិខ្មែរប្រារព្ធពិធីបុណ្យចូលឆ្នាំថ្មីរៀងរាល់ឆ្នាំនៅកណ្តាលខែមេសា ។ តាម ប្រពៃណីបុរាណ ជនជាតិខ្មែរចំណាយពេល ៣ ថ្ងៃ ដើម្បីអបអរសាទរឆ្នាំថ្មី ។ ឆ្នាំនេះ យើងប្រារព្ធពីធីចូលឆ្នាំថ្មីពីថ្ងៃទី ១៤ ដល់ថ្ងៃទី ១៦ មេសា ២០២៣ ។ តាម ក្បួនហោរាសាស្រ្តខ្មែរបុរាណដែលយកលំនាំតាមក្បួនព្រហ្មញ្ញសាសនា ថ្ងៃសុក្រ ទី ១៤ ខែមេសា ឆ្នាំ ២០២៣ វេលាម៉ោង ១៦ និង ០០ នាទីព្រឹក (ម៉ោងខ្មែរ) ព្រះអាទិត្យចរចេញពី មីនារាសី ចូលទៅកាន់ មេសារាសី ពោលគឺព្រះអាទិត្យយាងបានមួយជុំនិងចាប់ផ្តើម ជុំថ្មីមួយទៀតនៅឆ្នាំថ្មី ។

          <p class="text-start">ជនជាតិខ្មែរមានជំនឿថា ទេវតាឆ្នាំថ្មីយាងចុះមកពីស្ថាចាតុម្មហារាជិកា ដើម្បីផ្តល់ ប្រសិទ្ធិពរជ័យដល់ពួកគេនៅថ្ងៃចូលឆ្នាំថ្មីនោះ ។ 

ទេវតាប្រចាំឆ្នាំនេះគឺ កិរិណីទេវី ទ្រង់អាវុធព្រះហស្តស្តាំទ្រង់កង្វេរ ព្រះហស្តឆ្វេងទ្រង់កាំអសនី (វជ្រវុធ) ទ្រង់គង់ឈររំពៃលេីខ្នងគជសារ គឺសត្វដំរីជាពាហន:។ </p>

            <p class="text-start">ថ្ងៃទីមួយ ពោលគឺថ្ងៃទី១៤ ខែមេសា ហៅថា មហាសង្ក្រាន្ត (ទទួលទេវតាឆ្នាំថ្មី) ។

ថ្ងៃទី១៥ ខែមេសា ហៅថាវារៈវ័នបត ។

ថ្ងៃទីបី គឺថ្ងៃទី ១៦ ខែមេសាហៅថាវារៈឡើងស័ក ។ 

នុងអំឡុងពេលបីថ្ងៃនេះ ជនជាតិខ្មែរបួងសួងសុំឲ្យទទួលបានសុភមង្គល ការចេះស្រឡាញ់រាប់អានដោយមេត្រីភាព សប្បុរសភាព
ការរស់នៅដោយចុះសម្រុងគ្នា និងការសណ្តោសប្រណីចំពោះគ្នាទៅវិញទៅមក។ </p>
          
    </div>
  <div class="pt-5">
    <h5>
      Join us to welcome the 2023 New Year Angel called "Kemira Devi" on Friday, April 14, 2023 at 4:30AM EST.</h5>
    <p>
    This event will be broadcasted live on <a href="https://www.facebook.com/cmaalowell" target="_blank">CMAA Facebook Page</a> and <a href="https://us02web.zoom.us/j/84039371168#success" target="_blank">Zoom.</a> </p>

    <h5>ចូលរួមជាមួយយើងខ្ញុំដើម្បីទទួលស្វាគមន៍ទេវតាឆ្នាំថ្មីព្រះនាមកិរិណីទេវី នៅថ្ងៃពសុក្រ ទី១៤ ខែមេសា ឆ្នាំ២០២៣ វេលាម៉ោង ៤:៣០ ព្រឹក ល្វែងម៉ោង EST</h5>
    <p>កម្មវិធីនេះផ្សាយផ្ទាល់នៅលើ <a href="https://www.facebook.com/cmaalowell" target="_blank">ទំព័រហ្វេសប៊ុកសមាគមន៍ខ្មែរ</a> និង <a href="https://us02web.zoom.us/j/84039371168#success" target="_blank">Zoom</a> ។
    </p>
  </div>
  <div class="py-3">
    <p class="text-start">
      For any questions about the event and sponsorship, please email: 
<br>Nich Chea at <a href="mailto:nchea@cmaalowell.org">nchea@cmaalowell.org</a>
<br>Kennis Yin-Mor at <a href="mailto:kennisyin@cmaalowell.org">kennisyin@cmaalowell.org</a>
    </p>
  </div>
    <p>If you prefer mailing us a check, please make it payable to <b class="text-primary">CMAA</b> and mail it to:
      <a href="https://www.google.com/search?q=465+School+Street+Lowell%2C+MA+01851&oq=465+School+Street+Lowell%2C+MA+01851&aqs=chrome..69i57.956j0j4&sourceid=chrome&ie=UTF-8">465 School Street, Lowell, MA 01851</a>
      </p>
  
<div>
{% endblock %}